<template>
  <v-app id="inspire" :class="{'image-bg': isLoginPage}">
    <v-navigation-drawer v-if="!isLoginPage"
      v-model="drawer"
      clipped
      fixed
      app
      :mini-variant="mini"
    >
      <v-list dense>

        <v-list-tile to="/ulazi" title="Podaci o ulazima">
          <v-list-tile-action>
            <v-icon>account_balance</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Podaci o ulazima</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <!--<v-list-tile to="/finansije" v-if="!isEndUser">
          <v-list-tile-action>
            <v-icon>monetization_on</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Finansije</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>-->

        <v-list-tile to="/pravna-sluzba" v-if="!isEndUser" title="Pravna služba">
          <v-list-tile-action>
            <v-icon>bookmarks</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Pravna služba</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile to="/eksterni-klijenti" v-if="!isEndUser" title="Eksterni klijenti">
          <v-list-tile-action>
            <v-icon>people_outline</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Eksterni klijenti</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <!-- <v-list-tile to="/interni-izvjestaji" v-if="!isEndUser">
          <v-list-tile-action>
            <v-icon>library_books</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Interni izvještaji</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile> -->

        <v-list-tile to="/fakturisanje" v-if="!isEndUser" title="Fakturisanje">
          <v-list-tile-action>
            <v-icon>receipt</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Fakturisanje</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile to="/domarska-sluzba" v-if="!isEndUser" title="Domarska služba">
          <v-list-tile-action>
            <v-icon>build</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Domarska služba</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile v-if="!isEndUser" title="Dodaj uplatu" style="cursor: pointer;" @click="openPaymentDialog"> 
          <v-list-tile-action>
            <v-icon>note_add</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Fakturisanje</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

      </v-list>
    </v-navigation-drawer>

    <v-dialog v-model="paymentDialog" persistent max-width="800" v-if="paymentDialog">
        <ExternalPayment />
    </v-dialog>

    <v-toolbar app fixed clipped-left dense color="primary" dark v-if="!isLoginPage">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Refresh</v-toolbar-title>

      <v-spacer></v-spacer>
      <!-- <v-toolbar-items>
        <v-btn flat>{{userInfo.userName}}</v-btn>
      </v-toolbar-items> -->
      <v-btn icon small title="Žalbe" to="/aktivne-zalbe" class="notification-btn"><i class="material-icons">
        notifications
      </i></v-btn>
      <span class="notification-count">{{notificationCount}}</span>
      
      <v-menu bottom left>
        <v-btn
          title="Podešavanja"
          slot="activator"
          icon
          small
          v-if="!isEndUser"
        >
          <v-icon>settings</v-icon>
        </v-btn>

        <v-list light>
           <v-list-tile to="/gradovi">
            <v-list-tile-title>Gradovi</v-list-tile-title>
          </v-list-tile>

          <v-list-tile to="/vlasnici">
            <v-list-tile-title>Vlasnici</v-list-tile-title>
          </v-list-tile>

          <v-list-tile to="/zaposleni">
            <v-list-tile-title>Zaposleni</v-list-tile-title>
          </v-list-tile>

          <v-list-tile to="/tipovi-stanova">
            <v-list-tile-title>Tipovi stanova</v-list-tile-title>
          </v-list-tile>


          <v-list-tile to="/kategorije-troskova">
            <v-list-tile-title>Kategorije troškova</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>

      <v-menu bottom left>
        <v-btn
          slot="activator"
          dark
          flat
        >
            {{userInfo.userName}}
        </v-btn>

        <v-list light>
          <v-list-tile
            v-for="(item, i) in items"
            :key="i"
            @click="item.onClick"
          >
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <v-layout justify-center fill-height>
        <v-flex>
          <router-view></router-view>
        </v-flex>
      </v-layout>
    </v-content>
    <Notification />
  </v-app>
</template>


<script>
import Toolbar from "./components/Toolbar.vue";
import Notification from "./components/Notification.vue";
import ExternalPayment from "./components/ExternalPayment.vue";
import { Grid } from "@progress/kendo-grid-vue-wrapper";

export default {
  name: "app",
  components: {
    Toolbar,
    Notification,
    Grid,
    ExternalPayment
  },
  created() {
    let comp = this;
    this.$http.get('services/app/Ticket/GetActiveTicketCount').then(function(response) {
      let result = response.body.result;
      this.notificationCount = result;     
    })
    this.$root.$on('updateNotificationCount', function() {
        this.$http.get('services/app/Ticket/GetActiveTicketCount').then(function(response) {
        let result = response.body.result;
        comp.notificationCount = result;
      });
    });
    this.$root.$on('toggleExternalPayment', function() {
      comp.paymentDialog = false;
    })
  },
  computed: {
    isEndUser() {
      return this.$store.state.userInfo.userTypeId === 5
    },
    userInfo() {
      return this.$store.state.userInfo
    },
    isLoginPage() {
      var comp = this;
      if (comp.$route.path === "/login") {
        return true;
      }
      return false;
    }
  },
  data() {
    var comp = this;
    return {
      drawer: true,
      mini: true,
      paymentDialog: false,
      notificationCount: 0,
      items: [
        {
          title: "Izloguj se",
          onClick() {
            comp.$store.commit("setToken", "");
            comp.$store.commit("setUserInfo", "");
            localStorage.clear();
            comp.$router.push("/login");
          }
        }
      ]
    };
  },
  methods: {
    openPaymentDialog() {
      this.paymentDialog = true;
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
h1 {
  color: #2c3e50;
}

.image-bg {
  background-color: #1980bb !important;
}
.notification-count {
  position: relative;
  left: -6px;
}
</style>
