<template>
  <div class="employees">
    <v-container fluid pb-0>
      <h1>Aktivne žalbe</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings" />
    </v-container>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import $ from "jquery";

export default {
  name: "ActiveTickets",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  data() {
    var comp = this;
    return {
      gridSettings: {
          parse(data) {
          data.result.items.forEach(function(element) {
            if (element.creationTime) {
              element.creationTime = kendo.toString(kendo.parseDate(element.creationTime), 'dd/MM/yyyy');
            }
          });
          return data.result.items;
        },
        readonly: true,
        dialogComponent: "AddEditTickets",
        searchableColumns: ["title", "createdBy", "propertyReferenceNumber", "cityName", "streetAddress"],
        filterRule: {
          condition: "and",
          rules: [
            {
              field: "isClosed",
              operator: "equal",
              value: false
            }
          ]
        },
        url: "/services/app/Ticket/GetGridData",
        entityName: "Ticket",
        change(ev) {
          var selected = ev.sender.dataItem(ev.sender.select());
          comp.$router.push({
            name: "zalba",
            query: {
              entity: "zalba",
              id: selected.id
            }
          });
        },
        columns: [
          {
            field: "title",
            title: "Naslov "
          },
          {
            field: "createdBy",
            title: "Autor "
          },
          {
              field: "propertyReferenceNumber",
              title: "Poziv na broj"
          },
          {
              field: "cityName",
              title: "Grad"
          },
          {
              field: "streetAddress",
              title: "Adresa"
          },
          {
            field: "creationTime",
            title: "Datum "
          }
        ]
      }
    };
  }
};
</script>
