<template>
    <v-card>
        <v-card-title class="headline">Žalba</v-card-title>
        <v-container>
 
           <v-text-field
            v-model="title"
            label="Naziv"
            required
            :error-messages="titleError"
            @input="$v.title.$touch()"
            @blur="$v.title.$touch()"
          ></v-text-field>

          <div class="k-form-item"><v-label>Prostor</v-label>
          <kendo-dropdownlist v-model="propertyId"
            :data-source="propertiesData"
            ref="propertyWidget"
            :data-text-field="'referenceNumber'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'"
            v-on:databound="onPropertiesBound">
          </kendo-dropdownlist>
            <div class="v-messages theme--light error--text" v-if="!$v.propertyId.required && $v.propertyId.$dirty">Ovo polje je obavezno</div>
          </div>

            <div class="k-form-item"><v-label>Opis</v-label>
               <kendo-editor v-if="loaded" :resizable-content="true"
                   :resizable-toolbar="true"
                   v-model="description"
                   style="height:280px"
                   rows="10"
                   cols="30">
               </kendo-editor>       
               <div class="v-messages theme--light error--text" v-if="!$v.description.required && $v.description.$dirty">Ovo polje je obavezno</div>
           </div>
           

        <!--  <div class="k-form-item"><v-label>Ulaz</v-label>
          <kendo-dropdownlist v-model="buildingId"
            :data-source="entrancesData"
            :data-text-field="'pib'"
            :data-value-field="'id'"
            :filter="'contains'"
            :readonly="true"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div>
        -->


          

        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>

import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import Vue from "vue";

export default {
  name: "AddEditProperties",
  props: ["dialogData"],
  mixins: [validationMixin],
  validations: {
    title: { required },
    propertyId: { required },
    description: { required }
  },
  data() {
    return {
      id: this.dialogData && this.dialogData.id || 0,
      buildingId: this.dialogData && this.dialogData.buildingId || this.$route.query.id,
      propertyId: this.dialogData && this.dialogData.propertyId || "",
      title: this.dialogData && this.dialogData.title || "",
      description: this.dialogData && this.dialogData.description || "",
      isClosed: false, // change
      loaded: false,
      propertiesBound: false
    };
  },
  created() {
    var comp = this;
    setTimeout(function() {
      comp.loaded = true;
    }, 0);
  },
  computed: {
    titleError() {
       const errors = [];
      if (!this.$v.title.$dirty) return errors;
      !this.$v.title.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    propertiesData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Property/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    entrancesData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Building/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  watch: {
    propertiesBound(newVal, oldVal) {
      if (newVal) {
        if (this.dialogData && this.dialogData.id) {
          const vm = this;
          let id = this.dialogData.id;
          this.$http
            .get("services/app/Ticket/Get", { params: { id: id } })
            .then(function(response) {
              let data = response.body.result;
              this.id = data.id;
              if (data.property) {
                let items = this.$refs.propertyWidget
                  .kendoWidget()
                  .dataSource.data();
                let isAdded = false;
                items.forEach(function(element) {
                  if (element.id === data.property.id) {
                    isAdded = true;
                  }
                });
                if (!isAdded) {
                  this.$refs.propertyWidget
                    .kendoWidget()
                    .dataSource.add(data.property);
                    this.propertyId = data.property.id;
                  this.$refs.propertyWidget
                    .kendoWidget().value(data.property.id);
                    this.$refs.propertyWidget.kendoWidget().trigger('change');
                }
              }
            });
        }
      }
    }
  },
  methods: {
    onPropertiesBound() {
      this.propertiesBound = true;
    },
    submitForm() {
      let component = this;

      component.$v.$touch();
      if (component.$v.$invalid) {
        return;
      }

      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/Ticket/Update"
          : "services/app/Ticket/Create";
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();

          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
      this.$root.$emit('updateNotificationCount');
    }
  }
};
</script>