<template>
    <v-card>
        <v-card-title class="headline">Zalihe</v-card-title>
        <v-container>
          <v-layout row wrap>
          <v-flex  xs6 sm6 md6 pr-2>
          <v-text-field
            v-model="name"
            label="Naziv"
            :error-messages="nameError"
            required
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
          ></v-text-field>
          </v-flex>
          
          <v-flex  xs6 sm6 md6>
          <v-text-field
            v-model="invoiceNumber"
            label="Broj fakture"
          ></v-text-field>
          </v-flex>
          </v-layout>

          <div class="k-form-item"><v-label>Grad</v-label>
          <kendo-dropdownlist v-model="cityId"
            :data-source="citiesData"
            :data-text-field="'name'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div>
         

        <v-layout row wrap>
        <v-flex xs6 pr-2>
          <v-text-field
            v-model="itemPrice"
            label="Cijena"
          ></v-text-field>
        </v-flex>
            <v-flex xs6>
          <v-text-field
            v-model="quantity"
            label="Količina"
            type="number"
          ></v-text-field>
            </v-flex>
          </v-layout>

          <v-text-field
            v-model="note"
            label="Napomena"
          ></v-text-field>
          
          <v-layout row wrap pt-1>
          <v-flex xs12>
              <v-menu
                ref="menu1"
                :close-on-content-click="false"
                v-model="menu1"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
              <v-text-field
                slot="activator"
                v-model="dateFormatted"
                label="Datum"
                persistent-hint
                prepend-icon="event"
                @blur="date = parseDate(dateFormatted)"
              ></v-text-field>
              <v-date-picker locale="sr-Latn-RS" v-model="date" no-title @input="menu1 = false"></v-date-picker>
            </v-menu>
          </v-flex>
          </v-layout>

       

        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import Vue from "vue";

export default {
  name: "AddEditEntrances",
  props: ["dialogData"],
  mixins: [validationMixin],

  validations: {
    name: { required },
    itemPrice: { required }
  },
  data() {
    return {
      id: 0,
      date: "",
      invoiceNumber: "",
      cityId: "",
      quantity: "",
      itemPrice: "",
      name: "",
      note: "",
      menu1: false,
      dateFormatted: ""
    };
  },
  created() {
    if (this.dialogData && this.dialogData.id) {
      let id = this.dialogData.id;
      this.$http
        .get("services/app/Supply/Get", { params: { id: id } })
        .then(function(response) {
          let data = response.body.result;
          this.id = data.id;
          this.invoiceNumber = data.invoiceNumber;
          this.cityId = data.cityId;
          this.quantity = data.quantity;
          this.note = data.note;
          this.name = data.name;
          this.itemPrice = data.itemPrice;
          this.date = data.date ? data.date.substr(0, 10)
            : "";          
        });
    }
  },
  watch: {
    date() {
      this.dateFormatted = this.formatDate(this.date);
    }
  },
  computed: {
    nameError() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    priceError() {
      const errors = [];
      if (!this.$v.pricePerSquareMeter.$dirty) return errors;
      !this.$v.pricePerSquareMeter.required &&
        errors.push("Ovo polje je obavezno.");
      return errors;
    },
    citiesData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/City/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    ownersData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Owner/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            if (data.result.items) {
              data.result.items.forEach(function(item) {
                item.fullName = item.firstName + " " + (item.lastName || "") + " " + (item.jmbg || "") 
              });
            }
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${day.padStart(2, "0")}-${month.padStart(2, "0")}`;
    },
    submitForm() {
      let component = this;

      component.$v.$touch();
      if (component.$v.$invalid) {
        return;
      }

      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/Supply/Update"
          : "services/app/Supply/Create";
      let data = { ...component.$data };
      data.cityId = parseInt(this.cityId);
      data.date = new Date(this.date).toISOString();
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, data).then(
          () => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          () => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, data).then(
          () => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          () => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>