<template>
    <v-card>
        <v-card-title class="headline">Trošak</v-card-title>
        <v-container>
           <v-text-field
            v-model="title"
            label="Naziv"
            required
            :error-messages="titleError"
            @input="$v.title.$touch()"
            @blur="$v.title.$touch()"
          ></v-text-field> 

        <v-textarea
            label="Opis"
            v-model="description"
        ></v-textarea>

        <div class="k-form-item"><v-label>Kategorija</v-label>
          <kendo-dropdownlist v-model="categoryId"
            :data-source="categoriesData"
            ref="categoryWidget"
            :data-text-field="'name'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
            <div class="v-messages theme--light error--text" v-if="!$v.categoryId.required && $v.categoryId.$dirty">Ovo polje je obavezno</div>
          </div>

        <v-layout row wrap>
            <v-flex xs12 sm6 pr-2>
              <v-menu
                :close-on-content-click="false"
                v-model="visiblePicker"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="parsedValue"
                  label="Datum"
                  prepend-icon="event"
                  readonly
                  required
                  :error-messages="dateTimeError"
                  @input="$v.dateTimeValue.$touch()"
                  @blur="$v.dateTimeValue.$touch()"
                ></v-text-field>
                <v-date-picker locale="sr-Latn-RS" v-model="dateTimeValue" type="month" @input="visiblePicker = false"></v-date-picker>
            </v-menu>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field label="Iznos" v-model="amount" :error-messages="amountError"
                    @input="$v.amount.$touch()"
                    @blur="$v.amount.$touch()">
                </v-text-field>  
            </v-flex>    
        </v-layout>

        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import Vue from "vue";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  name: "AddEditMaintenanceFees",
  props: ["dialogData"],
  mixins: [validationMixin],
  validations: {
    title: { required },
    categoryId: { required },
    dateTimeValue: { required },
    amount: {required}
  },
  data() {
    return {
      id: (this.dialogData && this.dialogData.id) || 0,
      title: (this.dialogData && this.dialogData.title) || "",
      description: (this.dialogData && this.dialogData.description) || "",
      categoryId: (this.dialogData && this.dialogData.categoryId) || "",
      propertyId: this.$route.query.id,
      dateTimeValue:
        (this.dialogData &&
          this.dialogData.year &&
          this.dialogData.monthNumber &&
          this.dialogData.year + "-" + this.dialogData.monthNumber) ||
        "",
      amount: (this.dialogData && this.dialogData.amount) || "",
      visiblePicker: false
    };
  },
  computed: {
    parsedValue() {
      var parsed = "";
      if (this.dateTimeValue) {
        var split = this.dateTimeValue.split("-");
        var allMonths = [
          "Januar",
          "Februar",
          "Mart",
          "April",
          "Maj",
          "Jun",
          "Jul",
          "Avgust",
          "Septembar",
          "Oktobar",
          "Novembar",
          "Decembar"
        ];
        if (split && split.length) {
          parsed = allMonths[parseInt(split[1]) - 1] + ", " + split[0];
        }
      }

      return parsed;
    },
    titleError() {
      const errors = [];
      if (!this.$v.title.$dirty) return errors;
      !this.$v.title.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    amountError() {
      const errors = [];
      if (!this.$v.amount.$dirty) return errors;
      !this.$v.amount.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    dateTimeError() {
      const errors = [];
      if (!this.$v.dateTimeValue.$dirty) return errors;
      !this.$v.dateTimeValue.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    categoriesData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url:
              Vue.http.options.root +
              "/services/app/MaintenanceFeeCategory/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  created() {
    var comp = this;
    setTimeout(function() {
      comp.loaded = true;
    }, 0);
    if (comp.dialogData && comp.dialogData.id) {
      let id = this.dialogData.id;
      this.$http.get('services/app/MaintenanceFee/Get', {params: {id: id}}).then(function(response) {
        let data = response.body.result;        
              
        if (data.category) {
          let items = this.$refs.categoryWidget.kendoWidget().dataSource.data();
          let isAdded = false;
          items.forEach(function(element) {
            if (element.id === data.category.id) {
              isAdded = true;
            }
          });
          if (!isAdded) {
            this.$refs.categoryWidget.kendoWidget().dataSource.add({
              name: data.category.name,
              id: data.category.id
            });
          }          
        }        
      })
    }  
  },
  methods: {
    submitForm() {
      let component = this;

      component.$v.$touch();
      if (component.$v.$invalid) {
        return;
      }

      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/MaintenanceFee/Update"
          : "services/app/MaintenanceFee/Create";

      component.$data.year = component.dateTimeValue.split("-")[0];
      component.$data.month = component.dateTimeValue.split("-")[1];
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>