<template>
    <v-card>
        <v-card-title class="headline">Prostor</v-card-title>
        <v-container>
           
          <v-text-field
            v-model="number"
            label="Broj prostora"
            :error-messages="numberError"
            required
            @input="$v.number.$touch()"
            @blur="$v.number.$touch()"
          ></v-text-field>

          <v-text-field
            v-model="pd"
            label="PD"
          ></v-text-field>

          <!-- <div class="k-form-item"><v-label>Ulaz</v-label>
          <kendo-dropdownlist v-model="buildingId"
            :data-source="entrancesData"
            :data-text-field="'pib'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
            <div class="v-messages theme--light error--text" v-if="!$v.buildingId.required && $v.buildingId.$dirty">Ovo polje je obavezno</div>
          </div> -->

          <div class="k-form-item"><v-label>Tip</v-label>
          <kendo-dropdownlist v-model="propertyTypeId"
            :data-source="propertyTypesData"
            :data-text-field="'name'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
            <div class="v-messages theme--light error--text" v-if="!$v.propertyTypeId.required && $v.propertyTypeId.$dirty">Ovo polje je obavezno</div>
          </div>

          <!-- <v-text-field
            v-model="floor"
            label="Sprat"
          ></v-text-field>  -->

          <!-- <div class="k-form-item"><v-label>Vlasnik</v-label>
          <kendo-dropdownlist v-model="ownerId"
            :data-source="ownersData"
            :data-text-field="'fullName'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div> -->

          <v-layout row wrap>
          <v-flex xs12 sm6 pr-2>
          <v-text-field
            v-model="floor"
            label="Sprat"
          ></v-text-field> 
          </v-flex>

          <v-flex xs12 sm6>
          <v-text-field
            v-model="quadrature"
            label="Kvadratura"
          ></v-text-field> 
          </v-flex>
          </v-layout>


          <v-layout row wrap>
          <v-flex xs12 sm6 pr-2>
          <v-text-field
            v-model="pricePerSquareMeter"
            label="Cijena po m²"
            type="number"
          ></v-text-field> 
          </v-flex>

          <v-flex xs12 sm6>
          <v-text-field
            v-model="maintenanceFeeFixedPrice"
            label="Mjesečna naknada"
          ></v-text-field> 
          </v-flex>
          </v-layout>

          <v-text-field v-if="id == 0"
            v-model="debt"
            label="Prethodni dug"
          ></v-text-field> 

          <v-flex sm12 pt-4>
              <v-label>Mjeseci</v-label>
              <v-layout row wrap>
                <v-flex sm2 v-for="(month, index) in allMonths" :key="index">
                    <v-checkbox v-model="maintenanceFeeMonths" :label="month.name" :value="month.id" ></v-checkbox>
                </v-flex>
              </v-layout>
          </v-flex>



        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>

import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import Vue from "vue";

export default {
  name: "AddEditProperties",
  props: ["dialogData"],
  mixins: [validationMixin],
  validations: {
    number: { required },
    quadrature: { required },
    // buildingId: { required },
    propertyTypeId: { required }
  },
  data() {
    return {
      id: this.dialogData && this.dialogData.id || 0,
      floor: this.dialogData && this.dialogData.floor || "",
      number: this.dialogData && this.dialogData.number || "",
      pd: this.dialogData && this.dialogData.pd || "",
      quadrature: this.dialogData && this.dialogData.quadrature || "",
      buildingId: this.dialogData && this.dialogData.buildingId || this.$route.query.id,
      // ownerId: this.dialogData && this.dialogData.ownerId || 0,
      propertyTypeId: this.dialogData && this.dialogData.propertyTypeId || "",
      pricePerSquareMeter: this.dialogData && this.dialogData.pricePerSquareMeter || "",
      maintenanceFeeMonths: this.dialogData && this.dialogData.maintenanceFeeMonths.split(',') || ['1','2','3','4','5','6','7','8','9','10','11','12'],
      maintenanceFeeFixedPrice: this.dialogData && this.dialogData.maintenanceFeeFixedPrice || ""
    };
  },
  computed: {
    quadratureError() {
       const errors = [];
      if (!this.$v.quadrature.$dirty) return errors;
      !this.$v.quadrature.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    numberError() {
       const errors = [];
      if (!this.$v.number.$dirty) return errors;
      !this.$v.number.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    allMonths() {
      return [
        { id: '1', name: "Januar" },
        { id: '2', name: "Februar" },
        { id: '3', name: "Mart" },
        { id: '4', name: "April" },
        { id: '5', name: "Maj" },
        { id: '6', name: "Jun" },
        { id: '7', name: "Jul" },
        { id: '8', name: "Avgust" },
        { id: '9', name: "Septembar" },
        { id: '10', name: "Oktobar" },
        { id: '11', name: "Novembar" },
        { id: '12', name: "Decembar" }
      ];
    },
    propertyTypesData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/PropertyType/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    ownersData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Owner/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            if (data.result.items) {
              data.result.items.forEach(function(item) {
                item.fullName = item.firstName + " " + (item.lastName || "") + " " + (item.jmbg || "") 
              })
            }
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    entrancesData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Building/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    submitForm() {
      let component = this;

      component.$v.$touch();
      if (component.$v.$invalid) {
        return;
      }

      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/Property/Update"
          : "services/app/Property/Create";
      component.$data.maintenanceFeeMonths = component.$data.maintenanceFeeMonths.join(",");
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          () => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          () => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          () => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          () => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>