<template>
    <v-card>
        <v-card-title class="headline">Grad</v-card-title>
        <v-container>
          <v-text-field
            v-model="name"
            label="Ime"
            required
          ></v-text-field>
          <v-text-field
            v-model="phoneNumber"
            label="Broj telefona"
            required
          ></v-text-field>
          <v-text-field
            v-model="address"
            label="Adresa"
            required
          ></v-text-field>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import Vue from "vue";

export default {
  name: "AddEditCities",
  props: ['dialogData'],
  data() {
    return {
      name: this.dialogData && this.dialogData.name || "",
      phoneNumber: this.dialogData && this.dialogData.phoneNumber || "",
      address: this.dialogData && this.dialogData.address || "",
    };
  },
  methods: {
    submitForm() {
      let url = this.dialogData && this.dialogData.id ? "services/app/City/Update" : "services/app/City/Create";

      if (this.dialogData && this.dialogData.id) {
        this.$http
        .put(url, {
          name: this.name,
          phoneNumber: this.phoneNumber,
          address: this.address,
          id: this.dialogData && this.dialogData.id ? this.dialogData.id : 0
        })
        .then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http
        .post(url, {
          name: this.name,
          phoneNumber: this.phoneNumber,
          address: this.address,
          id: this.dialogData && this.dialogData.id ? this.dialogData.id : 0
        })
        .then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }      
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>