<template>
  <v-card>
    <v-card-title class="headline">Uplata</v-card-title>
    <v-container>
      <v-text-field v-model="name" label="Svrha" required></v-text-field>

      <div class="k-form-item" v-if="dialogData && dialogData.fromProperty">
        <v-label>Prostor</v-label>
        <kendo-dropdownlist
          ref="propertyWidget"
          v-model="propertyId"
          :data-source="propertiesData"
          :data-text-field="'referenceNumber'"
          :data-value-field="'id'"
          :filter="'contains'"
          :option-label="'Odaberi...'"
          v-on:databound="onPropertiesBound"
        ></kendo-dropdownlist>
      </div>

      <!-- <div class="k-form-item"><v-label>Ulaz</v-label>
          <kendo-dropdownlist v-model="buildingId"
            :data-source="buildingsData"
            :data-text-field="'pib'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
      </div>-->

      <v-textarea v-model="description" label="Opis" required></v-textarea>

      <v-text-field v-model="bankAccount" label="Broj računa" required></v-text-field>

      <v-text-field v-model="bankStatementNumber" label="Broj izvoda" required></v-text-field>

      <v-text-field v-model="amount" label="Iznos" required type="number"></v-text-field>
    </v-container>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
      <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import Vue from "vue";

export default {
  name: "AddEditReceivedPayments",
  props: ["dialogData"],
  data() {
    return {
      propertiesBound: false,
      name: (this.dialogData && this.dialogData.name) || "",
      description: (this.dialogData && this.dialogData.description) || "",
      id: this.dialogData && this.dialogData.id ? this.dialogData.id : 0,
      propertyId:
        this.dialogData && this.dialogData.fromProperty
          ? this.dialogData.propertyId
            ? this.dialogData.propertyId
            : ""
          : this.$route.query.id,
      buildingId:
        this.dialogData && this.dialogData.fromProperty
          ? this.dialogData.buildingId
            ? this.dialogData.buildingId
            : this.$route.query.id
          : this.$store.state.entityId,
      bankStatementNumber:
        this.dialogData && this.dialogData.bankStatementNumber
          ? this.dialogData.bankStatementNumber
          : "",
      amount:
        this.dialogData && this.dialogData.amount ? this.dialogData.amount : "",
      bankAccount:
        this.dialogData && this.dialogData.bankAccount
          ? this.dialogData.bankAccount
          : ""
    };
  },
  watch: {
    propertiesBound(newVal, oldVal) {
      if (newVal) {
        if (this.dialogData.id) {
          const vm = this;
          let id = this.dialogData.id;
          this.$http
            .get("services/app/ReceivedPayment/Get", { params: { id: id } })
            .then(function(response) {
              let data = response.body.result;
              this.id = data.id;
              if (data.property && this.dialogData.fromProperty) {
                let items = this.$refs.propertyWidget
                  .kendoWidget()
                  .dataSource.data();
                let isAdded = false;
                items.forEach(function(element) {
                  if (element.id === data.property.id) {
                    isAdded = true;
                  }
                });
                if (!isAdded) {
                  this.$refs.propertyWidget
                    .kendoWidget()
                    .dataSource.add(data.property);
                    this.propertyId = data.property.id;
                  this.$refs.propertyWidget
                    .kendoWidget().value(data.property.id);
                    this.$refs.propertyWidget.kendoWidget().trigger('change');
                }
              }
            });
        }
      }
    }
  },
  computed: {
    entityId() {
      return this.$store.state.entityId;
    },
    propertiesData() {
      let filterRule = {
        condition: "and",
        rules: [
          {
            field: "buildingId",
            operator: "equal",
            value: this.$route.query.id
          }
        ]
      };
      let token = this.$store.state.token;
      let searchText = "";
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Property/GetPickerList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (
              options.filter &&
              options.filter.filters &&
              options.filter.filters.length
            ) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            options.filterRule = filterRule;
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    buildingsData() {
      let token = this.$store.state.token;
      let searchText = "";
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Building/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (
              options.filter &&
              options.filter.filters &&
              options.filter.filters.length
            ) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return options;
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    onPropertiesBound() {
      this.propertiesBound = true;
    },
    submitForm() {
      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/ReceivedPayment/Update"
          : "services/app/ReceivedPayment/Create";

      var component = this;
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          function() {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          function() {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>