<template>
    <v-card>
        <v-card-title class="headline">Tip stana</v-card-title>
        <v-container>
           <v-text-field
            v-model="itemData.name"
            label="Naziv"
            required
          ></v-text-field> 
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>

import Vue from "vue";
  
export default {
  name: "AddEditPropertyTypes",
  props: ["dialogData"],
  computed: {
    itemData() {
      return {...this.dialogData}
    }
  },
  methods: {
    submitForm() {
      let component = this;
      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/PropertyType/Update"
          : "services/app/PropertyType/Create";

      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, this.itemData).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, this.itemData).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>