<template>
    <v-card>
        <v-card-title class="headline">Uplata</v-card-title>
        <v-container>

          <v-text-field
            v-model="name"
            label="Svrha"
            required
            :error-messages="nameErrors"
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
            :counter="128"
          ></v-text-field>

          <div class="k-form-item"><v-label>Trošak</v-label>
          <kendo-dropdownlist v-model="expenseId"
            :data-source="expensesData"
            :data-text-field="'title'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          <div class="v-messages theme--light error--text" v-if="!$v.expenseId.required && $v.expenseId.$dirty">Ovo polje je obavezno</div>
          </div>

          <v-textarea
            v-model="description"
            label="Opis"
            required
          ></v-textarea>

          <v-text-field
            v-model="bankStatementNumber"
            label="Broj izvoda"
            required
          ></v-text-field>

          <v-text-field
            v-model="amount"
            label="Iznos"
            required
            type="number"
            :counter="20"
            :error-messages="amountErrors"
            @input="$v.amount.$touch()"
            @blur="$v.amount.$touch()"
          ></v-text-field>
          
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import Vue from "vue";
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  name: "AddEditSentPayments",
  props: ["dialogData"],
  mixins: [validationMixin],
  validations: {
    expenseId: { required },
    name: { required, maxLength: maxLength(128) },    
    amount: { required, maxLength: maxLength(20) },    
  },
  data() {
    return {
      name: (this.dialogData && this.dialogData.name) || "",
      description: (this.dialogData && this.dialogData.description) || "",
      id: this.dialogData && this.dialogData.id ? this.dialogData.id : 0,
      buildingId: this.$route.query.id,
      expenseId: (this.dialogData && this.dialogData.expenseId) || "",
      bankStatementNumber:
        this.dialogData && this.dialogData.bankStatementNumber
          ? this.dialogData.bankStatementNumber
          : "",
      amount:
        this.dialogData && this.dialogData.amount ? this.dialogData.amount : ""
    };
  },
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("Polje ne smije imati više od 128 karaktera");
      !this.$v.name.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    amountErrors() {
      const errors = [];
      if (!this.$v.amount.$dirty) return errors;
      !this.$v.amount.maxLength &&
        errors.push("Polje ne smije imati više od 20 karaktera");
      !this.$v.amount.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    entityId() {
      return this.$store.state.entityId;
    },
    expensesData() {
      const vm = this;
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Expense/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            options.filterRule =  {
              condition: "and",
              rules: [
                {
                  field: "isFinishedPayment",
                  operator: "equal",
                  value: false
                }, {
                  field: "buildingId",
                  operator: "equal",
                  value: vm.$route.query.id
                }
              ]
            };
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    submitForm() {
      let component = this;

      component.$v.$touch();
      if (component.$v.$invalid) {
        return;
      }

      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/SentPayment/Update"
          : "services/app/SentPayment/Create";

      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          () => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          () => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          function() {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          function() {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>