<template>
    <v-card>
        <v-card-title class="headline">{{isExternal ? 'Korisnik' : 'Zaposleni'}}</v-card-title>
        <v-container>
            <v-layout row wrap>
                <v-flex xs6 pr-2 v-if="!id">
                 <v-text-field
                  v-model="userName"
                  label="Korisničko ime"
                ></v-text-field>
                </v-flex>
                <!-- <v-flex xs12 pr-2 v-if="id">
                 <v-text-field
                  v-model="userName"
                  label="Korisničko ime"
                ></v-text-field>
                </v-flex>   -->
                <v-flex xs6 pr-2 v-if="!id">
                  <v-text-field
	  	            v-model="password"
	  	            :append-icon="show ? 'visibility_off' : 'visibility'"
	  	            :type="show ? 'text' : 'password'"
	  	            label="Šifra"
	  	            required
	  	            counter
	  	            @click:append="show = !show"></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout row wrap>

                <v-flex xs6 pr-2>
                  <v-text-field
                  v-model="name"
                  label="Ime"
                ></v-text-field>
                </v-flex> 
                
                <v-flex xs6 pr-2>
                <v-text-field
                  v-model="surname"
                  label="Prezime"
                ></v-text-field> 
                </v-flex>
        </v-layout>


          <v-text-field
            v-model="emailAddress"
            label="Email"
          ></v-text-field> 

          <div class="k-form-item"><v-label>Grad</v-label>
          <kendo-dropdownlist v-model="cityId"
            :data-source="citiesData"
            :data-text-field="'name'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div>

          <div class="k-form-item" v-if="userTypeId !== 5"><v-label>Tip korisnika</v-label>
          <kendo-dropdownlist v-model="userTypeId"
            :data-source="ownersTypesData"
            :data-text-field="'translation'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div>

        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import Vue from "vue";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  name: "AddEditExternalUsers",
  props: ["dialogData"],
  mixins: [validationMixin],
  validations: {
    title: { required },
    description: { required }
  },
  data() {
    return {
      id: 0,
      userName: "",
      name: "",
      surname: "",
      emailAddress: "",
      isActive: true,
      password: "",
      userTypeId: (this.dialogData && this.dialogData.isExternal && 5) || "",
      show: false,
      cityId: "",
      isExternal: ""
    };
  },
  created() {
    if (this.dialogData.id) {
      let id = this.dialogData.id;
      this.$http.get('services/app/User/Get', {params: {id: id}}).then(function(response) {
        let data = response.body.result;       
        this.id = data.id;
        this.userName = data.userName;
        this.name = data.name;
        this.surname = data.surname;
        this.emailAddress = data.emailAddress;
        this.password = data.password;
        this.userTypeId = data.userTypeId;
        this.cityId = data.cityId;
        this.isExternal = data.isExternal;
      })
    }    
  },
  computed: {
    titleError() {
      const errors = [];
      if (!this.$v.title.$dirty) return errors;
      !this.$v.title.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    citiesData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/City/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    ownersTypesData() {
      let token = this.$store.state.token;
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/User/GetUserTypes",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          }
        },
        schema: {
          parse: function(data) {
            var newData = [];
            data.result.forEach(function(element) {
              if (element.id !== 5) {
                newData.push(element);
              }
            });
            return newData;
          }
        }
      };
    }
  },
  methods: {
    submitForm() {
      let component = this;

      //   component.$v.$touch();
      //   if (component.$v.$invalid) {
      //     return;
      //   }

      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/User/Update"
          : "services/app/User/Create";

      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>