<template>
    <v-container>
    <v-card>
        <v-card-title class="headline">Faktura <v-spacer></v-spacer>
        <div class="header-info" v-if="invoiceId">
          <span class="item">Adresa: {{buildingAddress}}</span>
           <span class="item">Autor: {{creatorName}}</span>
           <span class="item">Datum štampanja fakture: {{invoiceDate}}</span>
           <span class="item">Datum štampanja profakture: {{proinvoiceDate}}</span>
          </div>
        </v-card-title>
        <v-divider></v-divider>
        <div v-if="step === 1">
          <v-container>
              <div class="k-form-item"><v-label>Ulaz</v-label>
                <kendo-dropdownlist v-model="buildingId"
                  :data-source="buildingData"
                  :data-text-field="'pib'"
                  :data-value-field="'id'"
                  :filter="'contains'"
                  :option-label="'Odaberi...'">
                </kendo-dropdownlist>
                  <div class="v-messages theme--light error--text" v-if="!$v.buildingId.required && $v.buildingId.$dirty">Ovo polje je obavezno</div>
                </div>
          </v-container>
        </div>
        <v-layout column wrap>
            <v-flex v-if="step === 2" xs4 fill-height>
                <v-container class="step-fields">
                <v-text-field v-model="title" label="Naziv"></v-text-field>
                <v-layout row wrap>
                    <v-flex xs6 pr-2>
                        <v-text-field v-model="unit" label="Jedinica"></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field v-model="quantity" type="number" label="Količina"></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs6 pr-2>
                      <v-text-field v-model="price" label="Cijena"></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                      <v-text-field v-model="vat" label="PDV"></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout pt-2>
                    <v-btn @click="add">Dodaj</v-btn>
                </v-layout>
                </v-container>
            </v-flex>
            <v-flex v-if="step === 2" xs8>
                <v-container>
                    <template>
                        <v-data-table
                          :headers="headers"
                          :items="dataItems"
                          no-data-text="Nema podataka"
                          rows-per-page-text="Broj stavki po stranici"
                        >
                          <template slot="items" slot-scope="props">
                            <td class="text-xs-left">{{ props.item.title }}</td>
                            <td class="text-xs-left">{{ props.item.unit }}</td>
                            <td class="text-xs-left">{{ props.item.price }}</td>
                            <td class="text-xs-left">{{ props.item.quantity }}</td>
                            <td class="text-xs-left">{{ props.item.vat ? props.item.vat + '%' : '-' }}</td>
                            <td class="text-xs-left">{{ props.item.vatAmount }}</td>
                            <td class="text-xs-left">{{ props.item.total }}</td>
                          </template>
                        </v-data-table>
                    </template>
                </v-container>
            </v-flex>
        </v-layout>

        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="close">Otkaži</v-btn>
          <v-btn v-if="step === 1" color="blue darken-1" flat @click.native="next">OK</v-btn>
          <v-btn v-if="step === 2" color="blue darken-1" flat @click.native="submitForm">Sačuvaj fakturu</v-btn>
        </v-card-actions>
      </v-card>
    </v-container>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import Vue from "vue";

export default {
  name: "AddEditInvoices",
  props: ["dialogData"],
  mixins: [validationMixin],
  validations: {
    buildingId: { required }
  },
  data() {
    return {
      dataItems: [],
      step: 1,
      id: 0,
      buildingId: (this.dialogData && this.dialogData.buildingId) || "",
      buildingAddress: "",
      creatorName: "",
      invoiceId: "",
      title: "",
      unit: "",
      price: "",
      quantity: "",
      invoiceDate: "",
      proinvoiceDate: "",
      vat: "",
      headers: [
        {
          text: "Naziv",
          value: "title"
        },
        { text: "Jedinica", value: "unit" },
        { text: "Cijena", value: "price" },
        { text: "Količina", value: "quantity" },
        { text: "PDV (%)", value: "vat" },
        { text: "PDV", value: "vatAmount" },
        { text: "Ukupno", value: "total" }
      ]
    };
  },
  created() {
    if (this.$route.query.id) {
      this.$http
        .get("services/app/Invoice/GetView", {
          params: { id: this.$route.query.id }
        })
        .then(function(response) {
          let data = response.body.result;
          this.invoiceId = this.$route.query.id;
          this.buildingId = data.buildingId;
          this.buildingAddress = data.buildingAddress;
          this.creatorName = data.creatorName;
          this.invoiceDate = data.invoiceDate ? kendo.toString(kendo.parseDate(data.invoiceDate), 'dd/MM/yyyy') : '-';
          this.proinvoiceDate = data.proinvoiceDate ? kendo.toString(kendo.parseDate(data.proinvoiceDate), 'dd/MM/yyyy') : '-';
          this.step = 2;
          this.loadItems();
        });
    }
  },
  computed: {
    buildingData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Building/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    next() {
      let data = { ...this.$data };
      let comp = this;
      this.$http.post("services/app/Invoice/Create", data).then(
        response => {
          comp.step++;
          comp.invoiceId = response.body.result.id;
          comp.loadItems();
        },
        response => {
          this.$root.$emit("toggleNotification", {
            msg: "Došlo je do greške pri čuvanju"
          });
        }
      );
    },
    loadItems() {
      let filterRule = {
        condition: "and",
        rules: [
          {
            field: "invoiceId",
            operator: "equal",
            value: this.invoiceId
          }
        ]
      };
      this.$http
        .post("services/app/InvoiceItem/GetList", { filterRule: filterRule })
        .then(function(response) {
          let data = response.body.result;
          this.dataItems = data.items;
        });
    },
    add() {
      let component = this;

      component.$v.$touch();
      if (component.$v.$invalid) {
        return;
      }

      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/InvoiceItem/Update"
          : "services/app/InvoiceItem/Create";
      let data = {
        invoiceId: this.invoiceId,
        title: this.title,
        unit: this.unit,
        price: this.price,
        quantity: this.quantity,
        vat: this.vat
      };
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, data).then(
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Stavka uspješno dodata"
            });
            this.title = "";
            this.unit = "";
            this.price = "";
            this.quantity = "";
            this.vat = "";
            this.loadItems();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, data).then(
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Stavka uspješno dodata"
            });
            this.title = "";
            this.unit = "";
            this.price = "";
            this.quantity = "";
            this.vat = "";
            this.loadItems();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    submitForm() {
      this.$router.push("/fakturisanje");
    },
    close() {
      let comp = this;
      if (this.invoiceId && !this.$route.query.id) {
        this.$http
          .delete("services/app/Invoice/Delete", {
            params: { id: comp.invoiceId }
          })
          .then(
            response => {
              if (response.data.success) {
                comp.$router.push("/fakturisanje");
              }
            },
            response => {
              if (response) {
              }
            }
          );
      } else {
        comp.$router.push("/fakturisanje");
      }
    }
  }
};
</script>

<style lang="scss">
.step-fields {
  background: #fafafa;
  border-bottom: 1px solid #ccc;
}
.header-info {
  font-size: 13px;
  line-height: 1.5;
  .item {
    padding: 3px;
    &:not(:last-child) {
       &:after {
        content: '·';
        font-weight: bold;
        margin-left: 6px;
      }
    }
   
  }
}


</style>

