<template>
    <v-card>
        <v-card-title class="headline">Zakazani trošak</v-card-title>
        <v-container>
          <v-text-field
            v-model="title"
            label="Naziv"
            required
            :error-messages="titleErrors"
            @input="$v.title.$touch()"
            @blur="$v.title.$touch()"
            :counter="128"
          ></v-text-field> 

          <div class="k-form-item"><v-label>Kategorija</v-label>
          <kendo-dropdownlist v-model="categoryId"
            :data-source="parentData"
            :data-text-field="'name'"
            :data-value-field="'id'"
            :filter="'contains'"
             @change="setParentCategory"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          <div class="v-messages theme--light error--text" v-if="!$v.categoryId.required && $v.categoryId.$dirty">Ovo polje je obavezno</div>
          </div>

          <div class="k-form-item"><v-label>Podkategorija</v-label>
          <kendo-dropdownlist v-model="subCategoryId"
            ref="subCategoryWidget"
            :data-source="parentData"
            :data-text-field="'name'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          <div class="v-messages theme--light error--text" v-if="!$v.subCategoryId.required && $v.subCategoryId.$dirty">Ovo polje je obavezno</div>
          </div>

            <!-- <div class="k-form-item"><v-label>Ulaz</v-label>
          <kendo-dropdownlist v-model="buildingId"
            :data-source="buildingData"
            :data-text-field="'pib'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div> -->

          <v-textarea
            v-model="description"
            label="Opis"
            required
          ></v-textarea> 

          <v-text-field
            v-model="amount"
            label="Iznos"
            required
            type="number"
            :counter="20"
            :error-messages="amountErrors"
            @input="$v.amount.$touch()"
            @blur="$v.amount.$touch()"
          ></v-text-field> 

            <v-text-field
            v-model="company"
            label="Kompanija"
            required
            :error-messages="companyErrors"
            @input="$v.company.$touch()"
            @blur="$v.company.$touch()"
            :counter="128"
          ></v-text-field>

          <v-flex sm12 pt-4>
              <v-label>Mjeseci</v-label>
              <v-layout row wrap>
                <v-flex sm2 v-for="(month, index) in allMonths" :key="index">
                    <v-checkbox v-model="months" :label="month.name" :value="month.id" ></v-checkbox>
                </v-flex>
              </v-layout>
              <div class="v-messages theme--light error--text" v-if="!$v.months.required && $v.months.$dirty">Ovo polje je obavezno</div>
          </v-flex>

        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>

import Vue from "vue";
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";
  
export default {
  name: "AddEditScheduledExpenses",
  props: ["dialogData"],
  mixins: [validationMixin],
  validations: {
    categoryId: { required },
    subCategoryId: { required },
    months: { required },
    title: { required, maxLength: maxLength(128) },    
    company: { maxLength: maxLength(128) },    
    amount: { required, maxLength: maxLength(20) },    
  },
  data() {
    return {
      months: this.dialogData && this.dialogData.months.split(",") || ['1','2','3','4','5','6','7','8','9','10','11','12'],
      id: (this.dialogData && this.dialogData.id) || 0,
      title: (this.dialogData && this.dialogData.title) || "",
      description: (this.dialogData && this.dialogData.description) || "",
      amount: (this.dialogData && this.dialogData.amount) || "",
      buildingId: this.$route.query.id,
      categoryId: (this.dialogData && this.dialogData.categoryId) || "",
      subCategoryId: (this.dialogData && this.dialogData.subCategoryId) || "",
      company: (this.dialogData && this.dialogData.company) || "",
    };
  },
  computed: {
    titleErrors() {
      const errors = [];
      if (!this.$v.title.$dirty) return errors;
      !this.$v.title.maxLength &&
        errors.push("Polje ne smije imati više od 128 karaktera");
      !this.$v.title.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    companyErrors() {
      const errors = [];
      if (!this.$v.company.$dirty) return errors;
      !this.$v.company.maxLength &&
        errors.push("Polje ne smije imati više od 128 karaktera");
      return errors;
    },
    amountErrors() {
      const errors = [];
      if (!this.$v.amount.$dirty) return errors;
      !this.$v.amount.maxLength &&
        errors.push("Polje ne smije imati više od 20 karaktera");
      !this.$v.amount.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    allMonths() {
      return [
        { id: '1', name: "Januar" },
        { id: '2', name: "Februar" },
        { id: '3', name: "Mart" },
        { id: '4', name: "April" },
        { id: '5', name: "Maj" },
        { id: '6', name: "Jun" },
        { id: '7', name: "Jul" },
        { id: '8', name: "Avgust" },
        { id: '9', name: "Septembar" },
        { id: '10', name: "Oktobar" },
        { id: '11', name: "Novembar" },
        { id: '12', name: "Decembar" }
      ];
    },
    buildingData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Building/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    parentData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/ExpenseCategory/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    setParentCategory(ev) {
      let token = this.$store.state.token;
      var selected = ev.sender.dataItem(ev.sender.select());
      let component = this;
      let widget = component.$refs.subCategoryWidget.kendoWidget();
      let searchText = '';
      widget.setDataSource({
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/ExpenseCategory/GetChildren",
            type: "GET",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            options.parentId = selected.id === "" ? 0 : selected.id;
            return options;
          }
        },
        schema: {
          parse: function(data) {
            return data.result;
          }
        },
        serverFiltering: true
      });
      widget.dataSource.read();
    },
    submitForm() {
      let component = this;

      component.$v.$touch();
      if (component.$v.$invalid) {
        return;
      }

      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/ScheduledExpense/Update"
          : "services/app/ScheduledExpense/Create";

         let data = {...component.$data}; 
         data.months = data.months.join(',');

      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, data).then(
          () => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          () => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, data).then(
          () => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          () => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>