<template>
    <v-card>
        <v-card-title class="headline">Vlasnik</v-card-title>
        <v-container>
           <v-text-field
            v-model="jmbg"
            label="JBMG"
            required
          ></v-text-field> 
          <v-text-field
            v-model="firstName"
            label="Ime"
            required
          ></v-text-field>
          <v-text-field
            v-model="lastName"
            label="Prezime"
            required
          ></v-text-field>
          <v-text-field
            v-model="email"
            label="E-mail"
            required
          ></v-text-field>
          <v-text-field
            v-model="dateOfBirth"
            label="Datum rođenja"
            required
          ></v-text-field>
          <v-text-field
            v-model="address"
            label="Adresa"
            required
          ></v-text-field>
          <v-text-field
            v-model="phoneNumber"
            label="Broj telefona"
            required
          ></v-text-field>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>

import Vue from "vue";

export default {
  name: "AddEditOwners",
  props: ["dialogData"],
  data() {
    return {
      id: this.dialogData && this.dialogData.id || 0,
      userId: this.dialogData && this.dialogData && this.dialogData.userId || 0,
      jmbg: this.dialogData && this.dialogData.jmbg || "",
      firstName:  this.dialogData && this.dialogData.firstName || "",
      lastName:  this.dialogData && this.dialogData.lastName || "",
      email:  this.dialogData && this.dialogData.email || "",
      dateOfBirth:  this.dialogData && this.dialogData.dateOfBirth || "",
      address:  this.dialogData && this.dialogData.address || "",
      phoneNumber:  this.dialogData && this.dialogData.phoneNumber || ""
    };
  },
  computed: {
    itemId() {
      return this.dialogData.id || 0
    }
  },
  methods: {
    submitForm() {
      let component = this;
      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/Owner/Update"
          : "services/app/Owner/Create";

      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>