<template>
    <v-card>
        <v-card-title class="headline">Saopštenje</v-card-title>
        <v-container>
          <v-text-field
            v-model="title"
            label="Naslov"
            required
          ></v-text-field> 

          <!-- <div class="k-form-item"><v-label>Ulaz</v-label>
          <kendo-dropdownlist v-model="buildingId"
            :data-source="entrancesData"
            :data-text-field="'pib'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div> -->

          <div class="k-form-item"><v-label>Opis</v-label>
            <kendo-editor v-if="loaded" :resizable-content="true"
                :resizable-toolbar="true"
                v-model="description"
                style="height:280px"
                rows="10"
                cols="30">
            </kendo-editor>   
              <div class="v-messages theme--light error--text" v-if="!$v.description.required && $v.description.$dirty">Ovo polje je obavezno</div>
    
           </div>

        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import Vue from "vue";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

  
export default {
  name: "AddEditProperties",
  props: ["dialogData"],
  mixins: [validationMixin],
  validations: {
    description: { required }
  },
  data() {
    return {
      id: this.dialogData && this.dialogData.id || 0,
      title: this.dialogData && this.dialogData.title || "",
      buildingId: this.dialogData && this.dialogData.buildingId || this.$route.query.id,
      description: this.dialogData && this.dialogData.description || "",
      loaded: false,
    };
  },
  created() {
    let comp = this;
    setTimeout(function() {
      comp.loaded = true;
    }, 0);
  },
  computed: {
    entrancesData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Building/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    submitForm() {
      let component = this;
      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/Announcement/Update"
          : "services/app/Announcement/Create";
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>