<template>
  <v-card>
    <v-card-title class="headline">Trošak</v-card-title>
    <v-container>
      <v-text-field
        v-model="title"
        label="Naziv"
        :error-messages="titleError"
        :counter="128"
        required
        @input="$v.title.$touch()"
        @blur="$v.title.$touch()"
      ></v-text-field>

      <div class="k-form-item">
        <v-label>Kategorija</v-label>
        <kendo-dropdownlist
          v-model="categoryId"
          :data-source="parentData"
          :data-text-field="'name'"
          :data-value-field="'id'"
          :filter="'contains'"
          :option-label="'Odaberi...'"
          @change="setParentCategory"
        ></kendo-dropdownlist>
        <div
          class="v-messages theme--light error--text"
          v-if="!$v.categoryId.required && $v.categoryId.$dirty"
        >Ovo polje je obavezno</div>
      </div>

      <div class="k-form-item">
        <v-label>Podkategorija</v-label>
        <kendo-dropdownlist
          ref="subCategoryWidget"
          v-model="subCategoryId"
          :data-source="parentData"
          :data-text-field="'name'"
          :data-value-field="'id'"
          :filter="'contains'"
          :option-label="'Odaberi...'"
        ></kendo-dropdownlist>
        <div
          class="v-messages theme--light error--text"
          v-if="!$v.subCategoryId.required && $v.subCategoryId.$dirty"
        >Ovo polje je obavezno</div>
      </div>

      <!-- <div class="k-form-item"><v-label>Ulaz</v-label>
          <kendo-dropdownlist v-model="buildingId"
            :data-source="buildingData"
            :data-text-field="'pib'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
      </div>-->

      <v-textarea v-model="description" label="Opis" required></v-textarea>

      <v-text-field
        v-model="amount"
        label="Iznos"
        :error-messages="amountError"
        required
        type="number"
        :counter="20"
        @input="$v.amount.$touch()"
        @blur="$v.amount.$touch()"
      ></v-text-field>

      <v-text-field
        v-model="company"
        label="Kompanija"
        required
        :error-messages="companyErrors"
        @input="$v.company.$touch()"
        @blur="$v.company.$touch()"
        :counter="128"
      ></v-text-field>

      <v-text-field v-model="invoiceNumber" label="Broj fakture" required></v-text-field>
    </v-container>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
      <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";
import Vue from "vue";

export default {
  name: "AddEditExpenses",
  props: ["dialogData"],
  mixins: [validationMixin],
  validations: {
    title: { required, maxLength: maxLength(128) },
    company: { maxLength: maxLength(128) },
    amount: { required, maxLength: maxLength(20) },
    categoryId: { required },
    subCategoryId: { required }
  },
  data() {
    return {
      id: (this.dialogData && this.dialogData.id) || 0,
      parentId: (this.dialogData && this.dialogData.parentId) || 0,
      title: (this.dialogData && this.dialogData.title) || "",
      description: (this.dialogData && this.dialogData.description) || "",
      amount: (this.dialogData && this.dialogData.amount) || "",
      buildingId:
        (this.dialogData && this.dialogData.buildingId) || this.$route.query.id,
      categoryId: (this.dialogData && this.dialogData.categoryId) || "",
      subCategoryId: (this.dialogData && this.dialogData.subCategoryId) || "",
      company: (this.dialogData && this.dialogData.company) || "",
      invoiceNumber: (this.dialogData && this.dialogData.invoiceNumber) || ""
    };
  },
  computed: {
    titleError() {
      const errors = [];
      if (!this.$v.title.$dirty) return errors;
      !this.$v.title.maxLength &&
        errors.push("Polje ne smije imati više od 128 karaktera");
      !this.$v.title.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    companyErrors() {
      const errors = [];
      if (!this.$v.company.$dirty) return errors;
      !this.$v.company.maxLength &&
        errors.push("Polje ne smije imati više od 128 karaktera");
      return errors;
    },
    amountError() {
      const errors = [];
      if (!this.$v.amount.$dirty) return errors;
      !this.$v.amount.maxLength &&
        errors.push("Polje ne smije imati više od 20 karaktera");
      !this.$v.amount.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    buildingData() {
      let token = this.$store.state.token;
      let searchText = "";
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Building/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (
              options.filter &&
              options.filter.filters &&
              options.filter.filters.length
            ) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    parentData() {
      let token = this.$store.state.token;
      let searchText = "";
      return {
        transport: {
          read: {
            url:
              Vue.http.options.root + "/services/app/ExpenseCategory/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (
              options.filter &&
              options.filter.filters &&
              options.filter.filters.length
            ) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            options.filterRule =  {
              condition: "and",
              rules: [
                {
                  field: "parentId",
                  operator: "equal",
                  value: null
                }
              ]
            };
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    setParentCategory(ev) {
      let token = this.$store.state.token;
      let searchText = "";
      var selected = ev.sender.dataItem(ev.sender.select());
      let component = this;
      let widget = component.$refs.subCategoryWidget.kendoWidget();
      widget.setDataSource({
        transport: {
          read: {
            url:
              Vue.http.options.root +
              "/services/app/ExpenseCategory/GetChildren",
            type: "GET",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            options.parentId = selected.id === "" ? 0 : selected.id;
            if (
              options.filter &&
              options.filter.filters &&
              options.filter.filters.length
            ) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return options;
          }
        },
        schema: {
          parse: function(data) {
            return data.result;
          }
        },
        serverFiltering: true
      });
      widget.dataSource.read();
    },
    submitForm() {
      let component = this;

      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/Expense/Update"
          : "services/app/Expense/Create";
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          () => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          () => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          () => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          () => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>