<template>
    <v-card>
        <v-card-title class="headline">Zakazani trošak</v-card-title>
        <v-container>
          <v-text-field
            v-model="title"
            label="Naziv"
            required
          ></v-text-field> 

          <div class="k-form-item"><v-label>Kategorija</v-label>
          <kendo-dropdownlist v-model="categoryId"
            ref="categoryWidget"
            :data-source="parentData"
            :data-text-field="'name'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div>

          <v-textarea
            v-model="description"
            label="Opis"
            required
          ></v-textarea> 

          <v-text-field
            v-model="amount"
            label="Iznos"
            required
          ></v-text-field> 

          <v-flex sm12 pt-4>
              <v-label>Mjeseci</v-label>
              <v-layout row wrap>
                <v-flex sm2 v-for="(month, index) in allMonths" :key="index">
                    <v-checkbox v-model="months" :label="month.name" :value="month.id" ></v-checkbox>
                </v-flex>
              </v-layout>
          </v-flex>

        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>

import Vue from "vue";
  
export default {
  name: "AddEditScheduledMaintenanceFees",
  props: ["dialogData"],
  data() {
    return {
      months: this.dialogData && this.dialogData.months.split(",") || ['1','2','3','4','5','6','7','8','9','10','11','12'],
      id: (this.dialogData && this.dialogData.id) || 0,
      title: (this.dialogData && this.dialogData.title) || "",
      description: (this.dialogData && this.dialogData.description) || "",
      amount: (this.dialogData && this.dialogData.amount) || "",
      propertyId:
        (this.dialogData && this.dialogData.buildingId) || this.$route.query.id,
      categoryId: (this.dialogData && this.dialogData.categoryId) || 0
    };
  },
  computed: {
    allMonths() {
      return [
        { id: '1', name: "Januar" },
        { id: '2', name: "Februar" },
        { id: '3', name: "Mart" },
        { id: '4', name: "April" },
        { id: '5', name: "Maj" },
        { id: '6', name: "Jun" },
        { id: '7', name: "Jul" },
        { id: '8', name: "Avgust" },
        { id: '9', name: "Septembar" },
        { id: '10', name: "Oktobar" },
        { id: '11', name: "Novembar" },
        { id: '12', name: "Decembar" }
      ];
    },
    buildingData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Property/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    parentData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/MaintenanceFeeCategory/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  created() {
    var comp = this;
    if (comp.dialogData && comp.dialogData.id) {
      let id = this.dialogData.id;
      this.$http.get('services/app/ScheduledMaintenanceFee/Get', {params: {id: id}}).then(function(response) {
        let data = response.body.result;        
              
        if (data.category) {
          let items = this.$refs.categoryWidget.kendoWidget().dataSource.data();
          let isAdded = false;
          items.forEach(function(element) {
            if (element.id === data.category.id) {
              isAdded = true;
            }
          });
          if (!isAdded) {
            this.$refs.categoryWidget.kendoWidget().dataSource.add({
              name: data.category.name,
              id: data.category.id
            });
          }          
        }        
      })
    }  
  },
  methods: {
    submitForm() {
      let component = this;
      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/ScheduledMaintenanceFee/Update"
          : "services/app/ScheduledMaintenanceFee/Create";
          component.$data.months = component.$data.months.join(",");
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>