<template>
    <v-card>
        <v-card-title class="headline">Ulaz</v-card-title>
        <v-container>
          <v-layout row wrap>
          <v-flex  xs6 sm6 md6 pr-2>
          <v-text-field
            v-model="pib"
            label="PIB"
            :error-messages="pibError"
            required
            @input="$v.pib.$touch()"
            @blur="$v.pib.$touch()"
          ></v-text-field>
          </v-flex>
          
          <v-flex  xs6 sm6 md6>
          <v-text-field
            v-model="streetAddress"
            label="Adresa"
            :error-messages="addressError"
            required
            @input="$v.streetAddress.$touch()"
            @blur="$v.streetAddress.$touch()"
          ></v-text-field>
          </v-flex>
          </v-layout>

          <!-- <div class="k-form-item"><v-label>Grad</v-label>
          <kendo-dropdownlist v-model="cityId"
            :data-source="citiesData"
            :data-text-field="'name'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div> -->

          <div class="k-form-item"><v-label>Upravnik</v-label>
          <kendo-dropdownlist v-model="managerId"
            ref="managerWidget"
            :data-source="ownersData"
            :data-text-field="'fullName'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div>
          <UserPicker :callback="onAddManager" />          


           <div class="k-form-item"><v-label>Predsjednik</v-label>
          <kendo-dropdownlist v-model="presidentId"
            ref="presidentWidget"
            :data-source="ownersData"
            :data-text-field="'fullName'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div>
          <UserPicker :callback="onAddPresident" />          


          <v-layout row wrap>
            <v-flex xs6 pr-2>
          <v-text-field
            v-model="plotNumber"
            label="Broj parcele"
          ></v-text-field>
            </v-flex>
            <v-flex xs6>
          <v-text-field
            v-model="immovableProperty"
            label="List nepokretnosti"
          ></v-text-field>
            </v-flex>
          </v-layout>

          <v-text-field
            v-model="cadastralMunicipality"
            label="Katastarska opština"
          ></v-text-field>
          
          <v-layout row wrap pt-1>
          <v-flex xs12 sm6 md6>
              <v-menu
                ref="menu1"
                :close-on-content-click="false"
                v-model="menu1"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
              <v-text-field
                slot="activator"
                v-model="startDateFormatted"
                label="Datum sklapanja ugovora"
                persistent-hint
                prepend-icon="event"
                @blur="contractStartDate = parseDate(startDateFormatted)"
              ></v-text-field>
              <v-date-picker locale="sr-Latn-RS" v-model="contractStartDate" no-title @input="menu1 = false"></v-date-picker>
            </v-menu>
          </v-flex>

          <v-flex xs12 sm6 md6>
              <v-menu
                ref="menu2"
                :close-on-content-click="false"
                v-model="menu2"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
              <v-text-field
                slot="activator"
                v-model="endDateFormatted"
                label="Datum raskidanja ugovora"
                persistent-hint
                prepend-icon="event"
                @blur="contractEndDate = parseDate(endDateFormatted)"
                locale="sr-Latn-RS"
              ></v-text-field>
              <v-date-picker v-model="contractEndDate" no-title @input="menu2 = false"></v-date-picker>
            </v-menu>
          </v-flex>
          </v-layout>

          <v-text-field
            v-model="district"
            label="Dio grada"
          ></v-text-field>

          <v-text-field
            v-model="pricePerSquareMeter"
            label="Cijena po kvadratnom metru"
            required
            type="number"
            :error-messages="priceError"
            @input="$v.pricePerSquareMeter.$touch()"
            @blur="$v.pricePerSquareMeter.$touch()"
          ></v-text-field>

          <v-layout row wrap>
            <v-flex xs6 pr-2>
          <v-text-field
            v-model="bankAccountPrimary"
            label="Žiro račun - osnovni"
          ></v-text-field>
            </v-flex>

          <v-flex xs6>
          <v-text-field
            v-model="bankAccountSecondary"
            label="Žiro račun - dodatni"
          ></v-text-field>
          </v-flex>
          </v-layout>

          <v-layout row wrap>
          <v-flex xs6 pr-2>
            <v-text-field
              v-model="bic"
              label="BIC"
            ></v-text-field>
          </v-flex>

          <v-flex xs6>
          <v-text-field
            v-model="iban"
            label="IBAN"
          ></v-text-field>
          </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs6 pr-2>
          <v-text-field
            v-model="fcaName"
            label="Devizni račun"
          ></v-text-field>
            </v-flex>

          <v-flex xs6>
          <v-text-field
            v-model="fcaAddress"
            label="Devizni račun - adresa"
          ></v-text-field>
          </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>

import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import Vue from "vue";
import UserPicker from "@/components/common/UserPicker.vue";


export default {
  name: "AddEditEntrances",
  props: ["dialogData"],
  mixins: [validationMixin],
  components: {
    UserPicker
  },
  validations: {
    pib: { required },
    streetAddress: { required },
    pricePerSquareMeter: { required }
  },
  data() {
    return {
      id: this.dialogData && this.dialogData.id || 0,
      pib: "",
      streetAddress: "",
      cityId: this.dialogData.cityId,
      plotNumber: "",
      immovableProperty: "",
      cadastralMunicipality: "",
      contractStartDate: "",
      contractEndDate: "",
      district: "",
      managerId: "",
      presidentId: "",
      bankAccountPrimary: "",
      bankAccountSecondary: "",
      bic: "",
      iban: "",
      fcaName: "",
      fcaAddress: "",
      pricePerSquareMeter: "",
      menu1: false,
      menu2: false,
      startDateFormatted: "",
      endDateFormatted: ""
    };
  },
  created() {
    if (this.dialogData.id) {
      let id = this.dialogData.id;
      this.$http.get('services/app/Building/Get', {params: {id: id}}).then(function(response) {
        let data = response.body.result;        
        this.pib = data.pib;
        this.streetAddress = data.streetAddress;
        this.cityId = data.cityId;
        this.plotNumber = data.plotNumber;
        this.immovableProperty = data.immovableProperty;
        this.cadastralMunicipality = data.cadastralMunicipality;
        this.contractStartDate = data.contractStartDate ? data.contractStartDate.substr(0, 10) : ""
        this.contractEndDate = data.contractEndDate ? data.contractEndDate.substr(0, 10) : ""
        this.district = data.district;
        this.managerId = data.managerId;
        this.presidentId = data.presidentId;
        this.bankAccountPrimary = data.bankAccountPrimary;
        this.bankAccountSecondary = data.bankAccountSecondary;
        this.bic = data.bic;
        this.iban = data.iban;
        this.fcaName = data.fcaName;
        this.fcaAddress = data.fcaAddress;
        this.pricePerSquareMeter = data.pricePerSquareMeter;
        this.id = data.id;
        if (data.manager) {
          let items = this.$refs.managerWidget.kendoWidget().dataSource.data();
          let isAdded = false;
          items.forEach(function(element) {
            if (element.id === data.manager.id) {
              isAdded = true;
            }
          });
          if (!isAdded) {
            this.$refs.managerWidget.kendoWidget().dataSource.add({
              fullName: data.manager.firstName + " " + data.manager.lastName,
              id: data.manager.id
            });
          }          
        }         
        if (data.president) {
          let items = this.$refs.presidentWidget.kendoWidget().dataSource.data();
          let isAdded = false;
          items.forEach(function(element) {
            if (element.id === data.president.id) {
              isAdded = true;
            }
          });
          if (!isAdded) {
            this.$refs.presidentWidget.kendoWidget().dataSource.add({
              fullName: data.president.firstName + " " + data.president.lastName,
              id: data.president.id
            });
          }          
        }        
      })
    }    
  },
  watch: {
    contractStartDate (val) {
      this.startDateFormatted = this.formatDate(this.contractStartDate)
    },
    contractEndDate (val) {
      this.endDateFormatted = this.formatDate(this.contractEndDate)
    },
  },
  computed: {   
    pibError(val) {
       const errors = [];
      if (!this.$v.pib.$dirty) return errors;
      !this.$v.pib.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    addressError(val) {
       const errors = [];
      if (!this.$v.streetAddress.$dirty) return errors;
      !this.$v.streetAddress.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    priceError(val) {
       const errors = [];
      if (!this.$v.pricePerSquareMeter.$dirty) return errors;
      !this.$v.pricePerSquareMeter.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    citiesData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/City/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    ownersData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Owner/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            if (data.result.items) {
              data.result.items.forEach(function(item) {
                item.fullName = item.firstName + " " + (item.lastName || "") + " " + (item.jmbg || "") 
              })
            }
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    onAddManager(item) {
      let widget = this.$refs.managerWidget.kendoWidget();
      item.fullName = item.firstName + " " + (item.lastName || "") + " " + (item.jmbg || "");
      widget.dataSource.add(item);
      this.managerId = item.id;
    },
    onAddPresident(item) {
      let widget = this.$refs.presidentWidget.kendoWidget();
      item.fullName = item.firstName + " " + (item.lastName || "") + " " + (item.jmbg || "");
      widget.dataSource.add(item);
      this.presidentId = item.id;
    },
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    parseDate (date) {
      if (!date) return null

      const [month, day, year] = date.split('/')
      return `${year}-${day.padStart(2, '0')}-${month.padStart(2, '0')}`
    },
    submitForm() {
      let component = this;

      component.$v.$touch();
      if (component.$v.$invalid) {
        return;
      }

      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/Building/Update"
          : "services/app/Building/Create";
      let data = {...component.$data};
      data.cityId = parseInt(this.cityId);
      data.contractStartDate = this.contractStartDate ? new Date(this.contractStartDate).toISOString() : "";
      data.contractEndDate = this.contractEndDate ? new Date(this.contractEndDate).toISOString() : "";
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>