<template>
    <v-card>
        <v-card-title class="headline">Izvještaj</v-card-title>
        <v-container>
          <v-layout row wrap>
          <v-flex  xs6 sm6 md6 pr-2>
          <v-text-field
            v-model="title"
            label="Posao"
            :error-messages="titleError"
            required
            @input="$v.title.$touch()"
            @blur="$v.title.$touch()"
          ></v-text-field>
          </v-flex>
          <v-flex  xs6 sm6 md6>
          <v-text-field
            v-model="invoice"
            label="Faktura"
          ></v-text-field>
          </v-flex>
          </v-layout>

          <div class="k-form-item"><v-label>Ulaz</v-label>
          <kendo-dropdownlist v-model="buildingId"
            :data-source="buildingData"
            :data-text-field="'pib'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div>
         
      
           <v-select
              :items="['Investicija', 'Održavanje']"
              label="Investicija/održavanje"
              v-model="maintenanceType"
            ></v-select>

        <v-layout row wrap>
        <v-flex xs6 pr-2>
           <v-text-field
            v-model="nPrice"
            label="N. cijena"
          ></v-text-field>
        </v-flex>
            <v-flex xs6>
          <v-text-field
            v-model="pPrice"
            :disabled="!isAdmin"
            label="P. cijena"
          ></v-text-field>
            </v-flex>
          </v-layout>

          
        <v-layout row wrap>
        <v-flex xs6 pr-2>
           <v-text-field
            v-model="note"
            label="Napomena"
          ></v-text-field>
        </v-flex>
            <v-flex xs6>
          <v-text-field
            v-model="quantity"
            label="Količina"
            type="number"
          ></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
         <v-flex xs6 pr-2><v-text-field return-masked-value mask="##:##" v-model="timeSpent" label="Utrošeno vremena"></v-text-field></v-flex>
          <v-flex xs6>
            <v-text-field
            v-model="spentResources"
            label="Utrošeni materijal"
            ></v-text-field>
          </v-flex>
          </v-layout>
          
          <v-layout row wrap pt-1>
          <v-flex xs12 sm6 md6>
              <v-menu
                ref="menu1"
                :close-on-content-click="false"
                v-model="menu1"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
              <v-text-field
                slot="activator"
                v-model="fromFormatted"
                label="Od"
                persistent-hint
                prepend-icon="event"
                @blur="from = parseDate(fromFormatted)"
              ></v-text-field>
              <v-date-picker locale="sr-Latn-RS" v-model="from" no-title @input="menu1 = false"></v-date-picker>
            </v-menu>
          </v-flex>

          <v-flex xs12 sm6 md6>
              <v-menu
                ref="menu2"
                :close-on-content-click="false"
                v-model="menu2"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
              <v-text-field
                slot="activator"
                v-model="toFormatted"
                label="Do"
                persistent-hint
                prepend-icon="event"
                @blur="to = parseDate(toFormatted)"
                locale="sr-Latn-RS"
              ></v-text-field>
              <v-date-picker v-model="to" no-title @input="menu2 = false"></v-date-picker>
            </v-menu>
          </v-flex>
          </v-layout>

          

        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import Vue from "vue";

export default {
  name: "AddEditEntrances",
  props: ["dialogData"],
  mixins: [validationMixin],

  validations: {
    title: { required }
  },
  data() {
    return {
      id: (this.dialogData && this.dialogData.id) || 0,
      title: "",
      invoice: "",
      quantity: "",
      name: "",
      menu1: false,
      menu2: false,
      fromFormatted: "",
      toFormatted: "",
      buildingId: "",
      maintenanceType: "",
      from: "",
      to: "",
      nPrice: "",
      pPrice: "",
      timeSpent: "",
      note: "",
      spentResources: ""
    };
  },
  created() {
    if (this.dialogData && this.dialogData.id) {
      let id = this.dialogData.id;
      this.$http
        .get("services/app/Report/Get", { params: { id: id } })
        .then(function(response) {
          let data = response.body.result;
          this.id = data.id;
          this.title = data.title;
          this.invoice = data.invoice;
          this.maintenanceType = data.maintenanceType;
          this.spentResources = data.spentResources;
          this.timeSpent = data.timeSpent;
          this.nPrice = data.nPrice;
          this.pPrice = data.pPrice;
          this.buildingId = data.buildingId;
          this.quantity = data.quantity;
          this.note = data.note;
          this.from = data.from
            ? data.from.substr(0, 10)
            : "";   
          this.to = data.to
            ? data.to.substr(0, 10)
            : "";          
        });
    }
  },
  watch: {
    from (val) {
      this.fromFormatted = this.formatDate(this.from);
    },
    to (val) {
      this.toFormatted = this.formatDate(this.to);
    }
  },
  computed: {
    isAdmin() {
      return this.$store.state.userInfo.userTypeId === 1 || this.$store.state.userInfo.userTypeId === 0
    },
    titleError(val) {
      const errors = [];
      if (!this.$v.title.$dirty) return errors;
      !this.$v.title.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    buildingData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Building/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    citiesData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/City/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
    ownersData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Owner/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            if (data.result.items) {
              data.result.items.forEach(function(item) {
                item.fullName = item.firstName + " " + (item.lastName || "") + " " + (item.jmbg || "") 
              });
            }
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${day.padStart(2, "0")}-${month.padStart(2, "0")}`;
    },
    submitForm() {
      let component = this;

      component.$v.$touch();
      if (component.$v.$invalid) {
        return;
      }

      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/Report/Update"
          : "services/app/Report/Create";
      let data = { ...component.$data };
      data.from = new Date(this.from).toISOString();
      data.to = new Date(this.to).toISOString();
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>