<template>
    <v-card>
        <v-card-title class="headline">Vlasnik prostora</v-card-title>
        <v-container>
          <div class="k-form-item"><v-label>Vlasnik</v-label>
          <kendo-dropdownlist v-model="ownerId"
            ref="ownerWidget"
            :data-source="ownersData"
            :data-text-field="'fullName'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'"
            v-on:databound="onOwnersBound">
          </kendo-dropdownlist>
          </div>
          <UserPicker :callback="onAddUser" />          
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>

import Vue from "vue";
import UserPicker from "@/components/common/UserPicker.vue";


export default {
  name: "AddEditPropertyOwners",
  props: ["dialogData"],
  components: {
    UserPicker
  },
  data() {
    return {
      id: this.dialogData && this.dialogData.id || 0,
      ownerId: "",
      propertyId: this.$route.query.id,
      ownersBound: false
    };
  },
  created() {
    if (this.dialogData && this.dialogData.id) {
      let id = this.dialogData.id;
      this.$http.get('services/app/PropertyOwner/Get', {params: {id: id}}).then(function(response) {
        let data = response.body.result;        
        this.ownerId = data.ownerId;
        this.id = data.id;
      })
    }    
  },
  computed: {
    ownersData() {
      let token = this.$store.state.token;
      const vm = this;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Owner/GetDropdownData",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            if (data.result.items) {
              data.result.items.forEach(function(item) {
                item.fullName = item.text 
              })
            }
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    },
  },
  watch: {
    ownersBound(newVal, oldVal) {
      if (newVal) {
        if (this.dialogData && this.dialogData.id) {
          const vm = this;
          let id = this.dialogData.id;
          this.$http
            .get("services/app/PropertyOwner/Get", { params: { id: id } })
            .then(function(response) {
              let data = response.body.result;
              this.id = data.id;
              if (data.owner) {
                let items = this.$refs.ownerWidget
                  .kendoWidget()
                  .dataSource.data();
                let isAdded = false;
                items.forEach(function(element) {
                  if (element.id === data.owner.id) {
                    isAdded = true;
                  }
                });
                if (!isAdded) {
                  data.owner.fullName = data.owner.text;
                  this.$refs.ownerWidget
                    .kendoWidget()
                    .dataSource.add(data.owner);
                    this.ownerId = data.owner.id;
                  this.$refs.ownerWidget
                    .kendoWidget().value(data.owner.id);
                    this.$refs.ownerWidget.kendoWidget().trigger('change');
                }
              }
            });
        }
      }
    }
  },
  methods: {
    onOwnersBound() {
      this.ownersBound = true;
    },
    onAddUser(item) {
      let widget = this.$refs.ownerWidget.kendoWidget();
      item.fullName = item.firstName + " " + (item.lastName || "") + " " + (item.jmbg || "");
      widget.dataSource.add(item);
      this.ownerId = item.id;
    },
    submitForm() {
      let component = this;
      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/PropertyOwner/Update"
          : "services/app/PropertyOwner/Create";

      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>