<template>
    <v-card>
        <v-card-title class="headline">Kategorija</v-card-title>
        <v-container>
          <v-text-field
            v-model="name"
            label="Ime"
            required
          ></v-text-field> 

          <div class="k-form-item"><v-label>Kategorija</v-label>
          <kendo-dropdownlist v-model="parentId"
            :data-source="parentData"
            :data-text-field="'name'"
            :data-value-field="'id'"
            :filter="'contains'"
            :option-label="'Odaberi...'">
          </kendo-dropdownlist>
          </div>


          <!-- <v-text-field
            v-model="path"
            label="Putanja"
            required
          ></v-text-field>  -->

        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>

import Vue from "vue";

export default {
  name: "AddEditExpenseCategories",
  props: ["dialogData"],
  data() {
    return {
      id: this.dialogData && this.dialogData.id || 0,
      parentId: this.dialogData && this.dialogData.parentId || 0,
      name: this.dialogData && this.dialogData.name || ""
    };
  },
    computed: {
    parentData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/ExpenseCategory/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    submitForm() {
      let component = this;
      let url =
        this.dialogData && this.dialogData.id
          ? "services/app/ExpenseCategory/Update"
          : "services/app/ExpenseCategory/Create";
      if (this.dialogData && this.dialogData.id) {
        this.$http.put(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      } else {
        this.$http.post(url, component.$data).then(
          response => {
            this.$root.$emit("edit");
            this.closeDialog();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
      }
    },
    closeDialog() {
      this.$root.$emit("toggleDialog");
    }
  }
};
</script>