<template>
  <div class="cities">
    <v-container fluid pb-0>
    <h1>Saopštenja</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings" />
    </v-container>
    <Dialog :componentName="'AddEditAnnouncements'" />
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import Vue from "vue";

export default {
  name: "Owners",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  data() {
    return {
      gridSettings: {
        dialogComponent: "AddEditAnnouncements",
        entityName: "Announcement",
        columns: [ {
          field: "title",
          title: "Naslov"
        }]
      }
    }
  }
};
</script>

