<template>
  <div class="cities">
    <v-container fluid pb-0>
      <h1>Gradovi</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings" />
    </v-container>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";

export default {
  name: "Cities",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  data() {
    return {
      gridSettings: {
        dialogComponent: "AddEditCities",
        entityName: "City",
        searchableColumns: ["name", "address", "phoneNumber"],
        columns: [{
          field: "name",
          title: "Ime"
        }, {
          field: "address",
          title: "Adresa"
        }, {
          field: "phoneNumber",
          title: "Broj telefona"
        }]
      }
    }
  }
};
</script>
