<template>
  <div class="employees">
    <v-container fluid pb-0>
      <h1>Zaposleni</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings" />
    </v-container>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import $ from "jquery";

export default {
  name: "Employees",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  data() {
    var comp = this;
    return {
      gridSettings: {
        onOpen(dataItem) {
          comp.$root.$emit("toggleDialog", {
            isExternal: false,
            id: dataItem ? dataItem.id : 0
          });
        },
        dialogComponent: "AddEditExternalUsers",
        searchableColumns: ["userName", "emailAddress"],
        filterRule: {
          condition: "and",
          rules: [
            {
              field: "userTypeId",
              operator: "not_equal",
              value: 5
            },
            {
              field: "userTypeId",
              operator: "not_equal",
              value: 0
            }
          ]
        },
        entityName: "User",
        columns: [
          {
            field: "userName",
            title: "Ime"
          },
          {
            field: "emailAddress",
            title: "E-mail"
          }
        ]
      }
    };
  }
};
</script>
