<template>
  <v-container fluid>
    <v-dialog width="600px" v-model="showActionsDialog">
      <v-card>
        <v-card-text>
          <v-flex v-if="excelExport">
            <v-text-field label="Godina" v-model="exportYear" type="number"></v-text-field>
          </v-flex>
          <v-layout v-if="emailForm">
            <v-flex mr-2>
              <v-text-field label="Godina" v-model="emailYear" type="number"></v-text-field>
            </v-flex>
            <v-flex>
              <v-select
                :items="months"
                label="Mjesec"
                item-text="name"
                item-value="id"
                v-model="emailMonth"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout v-if="downloadInvoices">
            <v-flex mr-2>
              <v-text-field label="Godina" v-model="invoiceYear" type="number"></v-text-field>
            </v-flex>
            <v-flex>
              <v-select
                :items="months"
                label="Mjesec"
                item-text="name"
                item-value="id"
                v-model="invoiceMonth"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap v-if="financialReport">
            <v-flex xs12 sm6 md6>
              <v-menu
                ref="menu1"
                :close-on-content-click="false"
                v-model="menu1"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="reportFromFormatted"
                  label="Od"
                  persistent-hint
                  prepend-icon="event"
                  @blur="reportFrom = parseDate(reportFromFormatted)"
                ></v-text-field>
                <v-date-picker
                  locale="sr-Latn-RS"
                  v-model="reportFrom"
                  no-title
                  @input="menu1 = false"
                ></v-date-picker>
              </v-menu>
            </v-flex>

            <v-flex xs12 sm6 md6>
              <v-menu
                ref="menu2"
                :close-on-content-click="false"
                v-model="menu2"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="reportToFormatted"
                  label="Do"
                  persistent-hint
                  prepend-icon="event"
                  @blur="reportTo = parseDate(reportToFormatted)"
                  locale="sr-Latn-RS"
                ></v-text-field>
                <v-date-picker v-model="reportTo" no-title @input="menu2 = false"></v-date-picker>
              </v-menu>
            </v-flex>
          </v-layout>
          <v-flex v-if="!emailForm && !downloadInvoices">
            <v-btn @click="generateReport">Ok</v-btn>
          </v-flex>
          <v-flex v-if="emailForm">
            <v-btn @click="sendMail">Pošalji</v-btn>
          </v-flex>
          <v-flex v-if="downloadInvoices">
            <v-btn @click="downloadInvoiceData">Preuzmi</v-btn>
          </v-flex>
        </v-card-text>
      </v-card>
    </v-dialog>
    <div class="entity-view">
      <v-layout>
        <v-flex sm9>
          <h1 style="padding-top: 12px;">
            <span title="Nazad" @click="goBack" class="icon-wrapper">
              <i class="material-icons">arrow_back</i>
            </span>
            Ulaz {{entityData.pib}} - {{entityData.streetAddress}}, {{entityData.city ? entityData.city.name : ''}}
          </h1>
        </v-flex>
        <v-flex sm3 v-if="!isEndUser">
          <v-select
            :items="actions"
            label="Odaberite akciju"
            clearable
            return-object
            item-text="name"
            item-value="id"
            @input="onChange($event)"
          ></v-select>
        </v-flex>
      </v-layout>
      <v-flex xs12 mt-3>
        <v-card>
          <v-tabs grow v-model="activeTab.index" light slider-color="primary">
            <v-tab
              v-for="(tab,index) in tabs"
              :key="index"
              ripple
              @click="setActiveTab(tab, index)"
              v-if="!tab.hidden"
            >{{tab.name}}</v-tab>
          </v-tabs>
          <div v-if="activeTab.name === 'Info'">
            <v-container v-for="element in items" :key="element.name">
              <h2>{{element.name}}</h2>
              <v-divider></v-divider>
              <v-layout row wrap>
                <v-flex xs12 sm3 class="property" v-for="prop in element.items" :key="prop.title">
                  <div class="prop-label">{{prop.title}}</div>
                  <span class="content">{{prop.value}}</span>
                </v-flex>
              </v-layout>
            </v-container>
          </div>

          <div v-if="isGridTab">
            <v-card-text>
              <RefreshGrid :settings="gridSettings"/>
            </v-card-text>
          </div>

          <div v-if="activeTab.name === 'Žalbe'">
            <v-card-text>
              <RefreshGrid :settings="gridSettings"/>
            </v-card-text>
          </div>
        </v-card>
      </v-flex>
    </div>
  </v-container>
</template>

<script>
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import Dialog from "@/components/common/Dialog.vue";
import PropertyView from "@/components/PropertyView.vue";
import Vue from "vue";
import $ from "jquery";
import download from "downloadjs";
import saveAs from "file-saver";

function parseItems(items) {
  let data = [
    {
      name: "Osnovni podaci",
      items: []
    },
    {
      name: "Adresa",
      items: []
    },
    {
      name: "Ugovor",
      items: []
    },
    {
      name: "Rukovodstvo",
      items: []
    }
  ];

  function getLocationByName(name) {
    var itemIndex = 0;
    data.forEach(function(el, index) {
      if (el.name === name) {
        itemIndex = index;
      }
    });
    return itemIndex;
  }

  function getTranslation(key) {
    let translation = "";
    switch (key) {
      case "contractStartDate":
        translation = "Datum sklapanja ugovora";
        break;
      case "contractEndDate":
        translation = "Datum raskidanja ugovora";
        break;
      case "manager":
        translation = "Upravnik";
        break;
      case "president":
        translation = "Predsjednik";
        break;
      case "city":
        translation = "Grad";
        break;
      case "district":
        translation = "Dio grada";
        break;
      case "streetAddress":
        translation = "Ulica";
        break;
      case "cadastralMunicipality":
        translation = "Katastarska opština";
        break;
      case "pib":
        translation = "PIB";
        break;
      case "plotNumber":
        translation = "Broj parcele";
        break;
      case "immovableProperty":
        translation = "List nepokretnosti";
        break;
      case "bankAccountPrimary":
        translation = "Žiro račun - osnovni";
        break;
      case "bankAccountSecondary":
        translation = "Žiro račun - dodatni";
        break;
      case "bic":
        translation = "BIC";
        break;
      case "iban":
        translation = "IBAN";
        break;
      case "fcaName":
        translation = "Vlasnik deviznog računa";
        break;
      case "fcaAddress":
        translation = "Adresa vlasnika deviznog računa";
        break;
      case "pricePerSquareMeter":
        translation = "Cijena po kvadratnom metru";
        break;
      case "balance":
        translation = "Stanje na računu";
        break;
    }
    return translation;
  }

  function getValue(key, value) {
    if (key === "pricePerSquareMeter") {
      value = kendo.toString(value, "n2");
    }
    if ((key === "president" || key === "manager") && value) {
      value = value.firstName + " " + value.lastName;
    }
    if (key === "city" && value) {
      value = value.name;
    }
    if (key === "contractStartDate" || key === "contractEndDate") {
      value = kendo.toString(kendo.parseDate(value), "d");
    }
    if (!value) {
      value = "-";
    }
    return value;
  }

  let contractItems = ["contractStartDate", "contractEndDate"];
  let personItems = ["manager", "president"];
  let addressItems = [
    "city",
    "district",
    "streetAddress",
    "cadastralMunicipality"
  ];
  let basicItems = [
    "pib",
    "plotNumber",
    "immovableProperty",
    "bankAccountPrimary",
    "bankAccountSecondary",
    "bic",
    "iban",
    "fcaName",
    "fcaAddress",
    "pricePerSquareMeter",
    "balance"
  ];

  for (let item in items) {
    if (contractItems.indexOf(item) > -1) {
      let itemIndex = getLocationByName("Ugovor");
      data[itemIndex].items.push({
        title: getTranslation(item),
        value: getValue(item, items[item])
      });
    }

    if (addressItems.indexOf(item) > -1) {
      let itemIndex = getLocationByName("Adresa");
      data[itemIndex].items.unshift({
        title: getTranslation(item),
        value: getValue(item, items[item])
      });
    }

    if (basicItems.indexOf(item) > -1) {
      let itemIndex = getLocationByName("Osnovni podaci");
      data[itemIndex].items.push({
        title: getTranslation(item),
        value: getValue(item, items[item])
      });
    }

    if (personItems.indexOf(item) > -1) {
      let itemIndex = getLocationByName("Rukovodstvo");
      data[itemIndex].items.push({
        title: getTranslation(item),
        value: getValue(item, items[item])
      });
    }
  }

  return data;
}

export default {
  name: "EntityView",
  components: {
    RefreshGrid,
    Dialog,
    PropertyView
  },
  computed: {
    activeTab() {
      return this.$store.state.currentTab;
    },
    isGridTab() {
      var map = [];
      this.tabs.forEach(function(el) {
        if (el.name !== "Info" && el.name !== "Žalbe") {
          map.push(el.name);
        }
      });
      var isGridTab = map.indexOf(this.activeTab.name) > -1;
      return isGridTab;
    }
  },
  created() {
    this.$store.commit("setCurrentTab", { name: 'Info', index: 0 });
    this.onLoad();
  },
  watch: {
    showActionsDialog(newVal) {
      if (!newVal) {
        this.financialReport = false;
        this.excelExport = false;
        this.emailForm = false;
        this.downloadInvoices = false;
      }
    },
    reportFrom(val) {
      this.reportFromFormatted = this.formatDate(this.reportFrom);
    },
    reportTo(val) {
      this.reportToFormatted = this.formatDate(this.reportTo);
    }
  },
  data() {
    var component = this;
    var isEndUser = this.$store.state.userInfo.userTypeId === 5;
    var filterRule = {
      condition: "and",
      rules: [
        {
          field: "buildingId",
          operator: "equal",
          value: component.$route.query.id
        }
      ]
    };
    var balanceFilter = {
      condition: "and",
      rules: [
        {
          field: "buildingId",
          operator: "equal",
          value: component.$route.query.id
        },
        {
          field: "year",
          operator: "equal",
          value: new Date().getFullYear()
        }
      ]
    };
    return {
      isEndUser: this.$store.state.userInfo.userTypeId === 5,
      entityData: {},
      items: [],
      showActionsDialog: false,
      financialReport: false,
      excelExport: false,
      emailForm: false,
      downloadInvoices: false,
      exportYear: new Date().getFullYear(),
      reportFrom: "",
      reportTo: "",
      emailYear: new Date().getFullYear(),
      emailMonth: 1,
      menu1: false,
      menu2: false,
      reportFromFormatted: "",
      reportToFormatted: "",
      invoiceYear: new Date().getFullYear(),
      invoiceMonth: 1,
      months: [
        { name: "Jan", id: 1 },
        { name: "Feb", id: 2 },
        { name: "Mar", id: 3 },
        { name: "Apr", id: 4 },
        { name: "Maj", id: 5 },
        { name: "Jun", id: 6 },
        { name: "Jul", id: 7 },
        { name: "Avg", id: 8 },
        { name: "Sep", id: 9 },
        { name: "Okt", id: 10 },
        { name: "Nov", id: 11 },
        { name: "Dec", id: 12 }
      ],
      actions: [
        {
          id: 1,
          name: "Presjek stanja"
        },
        {
          id: 2,
          name: "Finansijski izvještaj"
        },
        {
          id: 3,
          name: "Pošalji račune"
        },
        {
          id: 4,
          name: "Preuzmi račune"
        }
      ],
      tabs: [
        {
          name: "Info"
        },
        {
          name: "Pregled stanja",
          hidden: isEndUser
        },
        {
          name: "Prostori u zgradi"
        },
        {
          name: "Isplate",
          hidden: isEndUser
        },
        {
          name: "Troškovi",
          hidden: isEndUser
        },        
        {
          name: "Uplate stanara",
          hidden: isEndUser
        },
        {
          name: "Zakazani troškovi",
          hidden: isEndUser
        },
        {
          name: "Saopštenja"
        },
        {
          name: "Žalbe"
        }
      ],
      gridSettings: {},
      propertyGridSettings: {
        dialogComponent: "AddEditProperties",
        entityName: "Property",
        filterRule: filterRule,
        readonly: isEndUser,
        searchableColumns: ["referenceNumber", "number", "floor"],
        change(ev) {
          var selected = ev.sender.dataItem(ev.sender.select());
          component.$store.commit("setEntityId", component.$route.query.id);
          if (!isEndUser) {
            component.$router.push({
              name: "prostor",
              query: {
                entity: "prostor",
                id: selected.id
              }
            });
          } else {
            let data = {
              userId: component.$store.state.userInfo.id,
              propertyId: selected.id
            };
            component.$http
              .get("services/app/PropertyOwner/IsPropertyOwner", {
                params: data
              })
              .then(
                response => {
                  if (response.body.result) {
                    component.$router.push({
                      name: "prostor",
                      query: {
                        entity: "prostor",
                        id: selected.id
                      }
                    });
                  } else {
                    component.$root.$emit("toggleNotification", {
                      msg: "Pristup ovom prostoru nije dozvoljen"
                    });
                  }
                },
                response => {
                  component.$root.$emit("toggleNotification", {
                    msg: "Pristup ovom prostoru nije dozvoljen"
                  });
                }
              );
          }
        },
        columns: [
          {
            field: "referenceNumber",
            title: "Poziv na broj"
          },
          {
            field: "pd",
            title: "PD"
          },
          {
            field: "number",
            title: "Broj stana"
          },
          {
            field: "floor",
            title: "Sprat"
          },
          {
            field: "quadrature",
            title: "Kvadratura"
          }
        ]
      },
      sentPaymentSettings: {
        parse(data) {
          data.result.items.forEach(function(element) {
            if (element.creationTime) {
              element.creationTime = kendo.toString(
                kendo.parseDate(element.creationTime),
                "dd/MM/yyyy"
              );
            }
          });
          return data.result.items;
        },
        readonly: isEndUser,
        searchableColumns: ["name", "amount", "bankStatementNumber"],
        dialogComponent: "AddEditSentPayments",
        entityName: "SentPayment",
        filterRule: filterRule,
        columns: [
          {
            field: "name",
            title: "Svrha"
          },
          {
            field: "amount",
            title: "Iznos",
            format: "decimal"
          },
          {
            field: "bankStatementNumber",
            title: "Broj izvoda"
          },
          {
            field: "creationTime",
            title: "Datum "
          }
        ]
      },
      expenseSettings: {
        readonly: isEndUser,
        dialogComponent: "AddEditExpenses",
        entityName: "Expense",
        filterRule: filterRule,
        searchableColumns: ["title", "amount", "company"],
        parse(data) {
          data.result.items.forEach(function(element) {
            if (element.creationTime) {
              element.creationTime = kendo.toString(
                kendo.parseDate(element.creationTime),
                "dd/MM/yyyy"
              );
            }
          });
          return data.result.items;
        },
        columns: [
          {
            field: "title",
            title: "Naziv"
          },
          {
            field: "amount",
            title: "Iznos",
            format: "decimal"
          },
          {
            field: "company",
            title: "Kompanija"
          },
          {
            field: "creationTime",
            title: "Datum"
          }
        ]
      },
      announcementSettings: {
        parse(data) {
          data.result.items.forEach(function(element) {
            if (element.description) {
              element.parsedDescription = $(
                "<p>" + element.description + "</p>"
              ).text();
            } else {
              element.parsedDescription = "-";
            }
          });
          return data.result.items;
        },
        readonly: isEndUser,
        dialogComponent: "AddEditAnnouncements",
        entityName: "Announcement",
        filterRule: filterRule,
        searchableColumns: ["title"],
        columns: [
          {
            field: "title",
            title: "Naslov"
          },
          {
            field: "parsedDescription",
            title: "Opis"
          }
        ]
      },
      scheduledExpensesSettings: {
        parse(data) {
          data.result.items.forEach(function(element) {
            if (element.creationTime) {
              element.creationTime = kendo.toString(
                kendo.parseDate(element.creationTime),
                "dd/MM/yyyy"
              );
            }
          });
          return data.result.items;
        },
        readonly: isEndUser,
        dialogComponent: "AddEditScheduledExpenses",
        entityName: "ScheduledExpense",
        filterRule: filterRule,
        searchableColumns: ["title", "company", "description"],
        columns: [
          {
            field: "title",
            title: "Naslov "
          },
          {
            field: "company",
            title: "Kompanija "
          },
          {
            field: "description",
            title: "Opis "
          },
          {
            field: "creationTime",
            title: "Datum "
          }
        ]
      },
      ticketSettings: {
        parse(data) {
          data.result.items.forEach(function(element) {
            if (element.creationTime) {
              element.creationTime = kendo.toString(
                kendo.parseDate(element.creationTime),
                "dd/MM/yyyy"
              );
            }
            element.ticketStatus = element.isClosed ? "Da" : "Ne";
          });
          return data.result.items;
        },
        dialogComponent: "AddEditTickets",
        entityName: "Ticket",
        filterRule: filterRule,
        url: "/services/app/Ticket/GetGridData",
        searchableColumns: ["title", "createdBy"],
        change(ev) {
          var selected = ev.sender.dataItem(ev.sender.select());
          component.$router.push({
            name: "zalba",
            query: {
              entity: "zalba",
              id: selected.id
            }
          });
        },
        columns: [
          {
            field: "title",
            title: "Naslov "
          },
          {
            field: "createdBy",
            title: "Autor "
          },
          {
            field: "creationTime",
            title: "Datum "
          },
          {
            field: "ticketStatus",
            title: "Riješena "
          }
        ]
      },
      balanceSettings: {
        hideActions: true,
        readonly: true,
        url: "/services/app/Property/GetBalanceData",
        filterRule: balanceFilter,
        searchableColumns: ["referenceNumber", "number", "owner"],
        parse(data) {
          data.result.items.forEach(function(element) {
            element.janRelation =
              (element.janPaid || "-") + "/" + (element.janCost || "-");
            element.febRelation =
              (element.febPaid || "-") + "/" + (element.febCost || "-");
            element.marRelation =
              (element.marPaid || "-") + "/" + (element.marCost || "-");
            element.aprRelation =
              (element.aprPaid || "-") + "/" + (element.aprCost || "-");
            element.mayRelation =
              (element.mayPaid || "-") + "/" + (element.mayCost || "-");
            element.junRelation =
              (element.junPaid || "-") + "/" + (element.junCost || "-");
            element.julRelation =
              (element.julPaid || "-") + "/" + (element.julCost || "-");
            element.augRelation =
              (element.augPaid || "-") + "/" + (element.augCost || "-");
            element.sepRelation =
              (element.sepPaid || "-") + "/" + (element.sepCost || "-");
            element.octRelation =
              (element.octPaid || "-") + "/" + (element.octCost || "-");
            element.novRelation =
              (element.novPaid || "-") + "/" + (element.novCost || "-");
            element.decRelation =
              (element.decPaid || "-") + "/" + (element.decCost || "-");
            element.totalRelation =
              (element.totalPaid || "-") + "/" + (element.totalCost || "-");
          });
          return data.result.items;
        },
        columns: [
          {
            field: "referenceNumber",
            title: "Poziv na broj",
            width: 120
          },
          {
            field: "owner",
            title: "Vlasnik",
            width: 130
          },
          {
            field: "janRelation",
            width: 76,
            title: "Jan"
          },
          {
            field: "febRelation",
            width: 76,
            title: "Feb"
          },
          {
            field: "marRelation",
            width: 76,
            title: "Mar"
          },
          {
            field: "aprRelation",
            width: 76,
            title: "Apr"
          },
          {
            field: "mayRelation",
            width: 76,
            title: "Maj"
          },
          {
            field: "junRelation",
            width: 76,
            title: "Jun"
          },
          {
            field: "julRelation",
            width: 76,
            title: "Jul"
          },
          {
            field: "augRelation",
            width: 76,
            title: "Avg"
          },
          {
            field: "sepRelation",
            width: 76,
            title: "Sep"
          },
          {
            field: "octRelation",
            width: 76,
            title: "Okt"
          },
          {
            field: "novRelation",
            width: 76,
            title: "Nov"
          },
          {
            field: "decRelation",
            width: 76,
            title: "Dec"
          },
          {
            field: "totalCost",
            width: 76,
            title: "Iznos",
            format: "decimal"
          },
          {
            field: "totalPaid",
            title: "Plaćeno",
            width: 85,
            format: "decimal"
          },
          {
            field: "debt",
            title: "Dug",
            width: 85,
            format: "decimal"
          }
        ]
      },
      allPaymentsSettings: {
        readonly: isEndUser,
        dialogComponent: "AddEditReceivedPayments",
        entityName: "ReceivedPayment",
        filterRule: filterRule,
        sorter: {
          dir: "desc",
          field: "creationTime"
        },
        onOpen(dataItem) {
          if (dataItem) {
            let item = {...dataItem};
            item.fromProperty = true;
            component.$root.$emit("toggleDialog", item);
          } else {
            component.$root.$emit("toggleDialog", {
              fromProperty: true
            });
          }
        },
        searchableColumns: ["name", "amount", "bankAccount"],
        parse(data) {
          data.result.items.forEach(function(element) {
            if (element.creationTime) {
              element.creationTime = kendo.toString(
                kendo.parseDate(element.creationTime),
                "dd/MM/yyyy"
              );
            }
          });
          return data.result.items;
        },
        columns: [
          {
            field: "name",
            title: "Svrha"
          },
          {
            field: "amount",
            title: "Iznos",
            format: "decimal"
          },
          {
            field: "bankStatementNumber",
            title: "Broj izvoda"
          },
          {
            field: "bankAccount",
            title: "Broj računa"
          },
          {
            field: "creationTime",
            title: "Datum"
          }
        ]
      }
    }
  },
  methods: {
    onLoad() {
      let comp = this;
      comp.$http
        .get(comp.getUrl(comp.$route.query.entity), {
          params: { id: this.$route.query.id }
        })
        .then(
          response => {
            comp.entityData = response.body.result;
            comp.items = parseItems(comp.entityData);
          },
          function err() {}
        );
    },
    goBack() {
      this.$router.push({
        path: "/ulazi/gradovi",
        query: {
          id: this.entityData.cityId
        }
      });
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${day.padStart(2, "0")}-${month.padStart(2, "0")}`;
    },
    generateReport() {
      if (this.excelExport) {
        this.$http
          .post(
            "services/app/Building/ExportToExcel",
            {
              id: parseInt(this.$route.query.id),
              year: this.exportYear
            },
            { responseType: "blob" }
          )
          .then(
            response => {
              var blob = new Blob([response.body], {
                type: "application/vnd.ms-excel;charset=utf-8"
              });
              saveAs(
                blob,
                "Izvjestaj_" +
                  kendo.toString(kendo.parseDate(new Date()), "dd/MM/yyyy") +
                  ".xlsx"
              );
            },
            response => {
              this.$root.$emit("toggleNotification", {
                msg: "Došlo je do greške pri eksportu"
              });
            }
          );
      }
      if (this.financialReport) {
        this.$http
          .post("services/app/Building/BuildingFinancialReport", {
            buildingId: parseInt(this.$route.query.id),
            from: this.reportFrom
              ? new Date(this.reportFrom).toISOString()
              : "",
            to: this.reportTo ? new Date(this.reportTo).toISOString() : ""
          }, { responseType: "blob" })
          .then(
            response => {
              var blob = new Blob([response.body], {
                type: "application/vnd.ms-excel;charset=utf-8"
              });
              saveAs(
                blob,
                "Finansijski_izvjestaj_" +
                  kendo.toString(kendo.parseDate(new Date()), "dd/MM/yyyy") +
                  ".xlsx"
              );
            },
            response => {
              this.$root.$emit("toggleNotification", {
                msg: "Došlo je do greške pri eksportu"
              });
            }
          );
      }
    },
    sendMail() {
      this.$http
        .get("services/app/Building/SendMail", {
          params: {
            buildingId: parseInt(this.$route.query.id),
            month: this.emailMonth,
            year: this.emailYear
          }
        })
        .then(
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Email uspješno poslat!"
            });
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri slanju"
            });
          }
        );
    },
    downloadInvoiceData() {
      this.$http
        .post("services/app/Building/DownloadInvoices", {
          buildingId: parseInt(this.$route.query.id),
          month: this.invoiceMonth,
          year: this.invoiceYear
        }, { responseType: "blob" })
        .then(
          response => {
            var blob = new Blob([response.body], {
              type: "application/zip"
            });
            saveAs(
              blob,
              "Racuni_" + this.entityData.pib + "_" + this.invoiceYear + "-" + this.invoiceMonth + ".zip"
            );
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri eksportu"
            });
          }
        )
    },
    onChange(item) {
      if (!item) {
        return;
      }
      this.showActionsDialog = true;
      if (item.id === 1) {
        this.excelExport = true;
      }
      if (item.id === 2) {
        this.financialReport = true;
      }
      if (item.id === 3) {
        this.emailForm = true;
      }
      if (item.id === 4) {
        this.downloadInvoices = true;
      }
    },
    setActiveTab(tab, index) {
      this.$store.commit("setCurrentTab", { name: tab.name, index: index });
      if (tab.name === "Prostori u zgradi") {
        Vue.set(this, "gridSettings", this.propertyGridSettings);
      }
      if (tab.name === "Isplate") {
        Vue.set(this, "gridSettings", this.sentPaymentSettings);
      }
      if (tab.name === "Troškovi") {
        Vue.set(this, "gridSettings", this.expenseSettings);
      }
      if (tab.name === "Saopštenja") {
        Vue.set(this, "gridSettings", this.announcementSettings);
      }
      if (tab.name === "Zakazani troškovi") {
        Vue.set(this, "gridSettings", this.scheduledExpensesSettings);
      }
      if (tab.name === "Žalbe") {
        Vue.set(this, "gridSettings", this.ticketSettings);
      }
      if (tab.name === "Pregled stanja") {
        Vue.set(this, "gridSettings", this.balanceSettings);
      }
      if (tab.name === "Uplate stanara") {
        Vue.set(this, "gridSettings", this.allPaymentsSettings);
      }
      if (tab.name === "Info") {
        this.onLoad();
      }
    },
    getUrl(entity) {
      var url = "";
      if (entity === "ulaz") {
        url = "services/app/Building/GetBuildingView";
      }
      return url;
    }
  }
};
</script>

<style scoped>
.property {
  padding: 16px 0;
}
.content {
  font-weight: 500;
}
.prop-label {
  color: #bbb;
  font-size: 12px;
}
.icon-wrapper {
  position: relative;
  top: 2px;
  cursor: pointer;
  font-weight: bold;
  color: #1980bb;
  display: inline-block;
  margin-right: 5px;
}
</style>
