<template>
  <v-layout row wrap fill-height>
    <v-flex xs12 sm12>
      <v-container fluid pb-0>
        <h1>
          <span class="icon-wrap" title="Prikaži gradove" @click="goBack">
            <i class="material-icons">menu</i>
          </span>
          Ulazi {{activeCity}}
        </h1>
      </v-container>
      <v-container fluid>
        <RefreshGrid :settings="gridSettings"/>
      </v-container>
    </v-flex>
    <!-- <v-flex xs12 sm9 v-if="!activeCity">
      <v-container>
        <h3>Odaberite grad kako biste dobili prikaz ulaza</h3>
      </v-container>
    </v-flex>-->
  </v-layout>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import $ from "jquery";

export default {
  name: "EntrancesByCity",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  methods: {
    goBack() {
      this.$router.push({
        path: "/ulazi"
      });
    }
  },
  mounted() {
    var component = this;
    return this.$http
      .get("services/app/City/Get", {
        params: {
          id: component.$route.query.id
        }
      })
      .then(function success(response) {
        this.activeCity = response.body.result.name;
      })
      .catch(function err(response) {
        if (response.status === 401) {
          component.$router.push("/login");
        }
      });
  },
  data() {
    var component = this;
    return {
      activeCity: "",
      gridSettings: {
        filterRule: {
          condition: "and",
          rules: [
            {
              field: "cityId",
              operator: "equal",
              value: component.$route.query.id
            }
          ]
        },
        onOpen(dataItem) {
          component.$root.$emit("toggleDialog", {
            cityId: component.$route.query.id,
            id: dataItem ? dataItem.id : 0
          });
        },
        url: "/services/app/Building/GetGridData",
        readonly: this.$store.state.userInfo.userTypeId === 5,
        dialogComponent: "AddEditEntrances",
        entityName: "Building",
        searchableColumns: [
          "streetAddress",
          "pib",
          "managerName",
          "presidentName",
          "immovableProperty",
          "plotNumber"
        ],
        columns: [
          {
            field: "pib",
            title: "PIB"
          },
          {
            field: "streetAddress",
            title: "Adresa"
          },
          {
            field: "presidentName",
            title: "Predsjednik"
          },
          {
            field: "managerName",
            title: "Upravnik"
          },
          {
            field: "immovableProperty",
            title: "List nepokretnosti"
          },
          {
            field: "plotNumber",
            title: "Broj parcele"
          }
        ],
        change(ev) {
          var selected = ev.sender.dataItem(ev.sender.select());
          component.$router.push({
            name: "pregled",
            query: {
              entity: "ulaz",
              id: selected.id
            }
          });
        }
      }
    };
  }
};
</script>

<style lang="scss">
.cities-wrap {
  .cities-heading {
    padding: 11px 16px;
  }
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  background: #ffffff;
  overflow: auto;
  height: 100%;
  .v-list {
    padding-top: 0;
  }
  .tile-wrap {
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    margin-bottom: -1px;
    &:hover {
      background: #f1f1f1;
    }
  }
  .active-tile {
    background: #f1f1f1;
  }
}
.icon-wrap {
  position: relative;
  margin-right: 9px;
  top: 2px;
  font-weight: bold;
  color: #1980bb;
  cursor: pointer;
}
</style>
