<template>
  <v-layout row wrap fill-height>
    <v-flex xs12 class="cities-wrap" v-if="!activeCity">
      <h3 class="cities-heading">Odaberite grad</h3>
      <v-list two-line dense fill-height
      >

        <v-list-tile v-for="(item, index) in cities" :key="index" class="tile-wrap" @click="setActive(item)" :class="{'active-tile': item.id === activeCity.id}">
          <v-list-tile-content>
            <v-list-tile-title>{{item.name}}</v-list-tile-title>
            <v-list-tile-sub-title>{{item.address}} <span v-if="item.phoneNumber">-</span> {{item.phoneNumber}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

      </v-list>
    </v-flex>
  </v-layout>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import $ from "jquery";

export default {
  name: "Entrances",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  created() {
    var component = this;
    return this.$http
      .post("services/app/City/GetList", {})
      .then(function success(response) {
        component.cities = response.body.result.items;
      })
      .catch(function err(response) {
        if (response.status === 401) {
          component.$router.push('/login');
        }
      });
  },
  methods: {
    setActive(item) {      
      this.$router.push({
        path: "/ulazi/gradovi",
        query: {
          id: item.id
        }
      })
    }
  },
  data() {
    var component = this;
    return {
      activeCity: '',
      cities: [],
      gridSettings: {
        onOpen(dataItem) {
          component.$root.$emit("toggleDialog", {
            cityId: component.activeCity.id,
            id: dataItem ? dataItem.id : 0
          });
        },
        url: "/services/app/Building/GetGridData",
        readonly: this.$store.state.userInfo.userTypeId === 5,
        dialogComponent: "AddEditEntrances",
        entityName: "Building",
        searchableColumns: ["streetAddress", "pib", "managerName", "presidentName", "immovableProperty", "plotNumber"],
        columns: [
          {
            field: "pib",
            title: "PIB"
          },
          {
            field: "streetAddress",
            title: "Adresa"
          },
          {
            field: "presidentName",
            title: "Predsjednik"
          },
          {
            field: "managerName",
            title: "Upravnik"
          },
          {
            field: "immovableProperty",
            title: "List nepokretnosti"
          }, 
          {
            field: "plotNumber",
            title: "Broj parcele"
          }
        ],
        change(ev) {
          var selected = ev.sender.dataItem(ev.sender.select());
          component.$router.push({
            name: "pregled",
            query: {
              entity: "ulaz",
              id: selected.id
            }
          });
        }
      }
    };
  }
};
</script>

<style lang="scss">
.cities-wrap {
  .cities-heading {
    padding: 11px 16px;
  }
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  background: #ffffff;
  overflow: auto;
  height: 100%;
  .v-list {
    padding-top: 0;
  }
  .tile-wrap {
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    margin-bottom: -1px;
    &:hover {
      background: #f1f1f1;
    }
  }
  .active-tile {
    background: #f1f1f1;
  }
}
.icon-wrap {
  position: relative;
  margin-right: 9px;
  top: 2px;
  font-weight: bold;
  color: #1980BB;
  cursor: pointer;
}
</style>
