<template>
  <div class="cities">
    <v-container fluid pb-0>
    <h1>Kategorije troškova</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings" />
    </v-container>
    <Dialog :componentName="'AddEditExpenseCategories'" />
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";

export default {
  name: "ExpenseCategories",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  data() {
    return {
      gridSettings: {
        dialogComponent: "AddEditExpenseCategories",
        entityName: "ExpenseCategory",
        searchableColumns: ["name"],
        columns: [ {
          field: "name",
          title: "Naziv"
        }]
      }
    }
  }
};
</script>

