<template>
  <div class="external-users">
    <v-container fluid pb-0>
      <h1>Eksterni klijenti</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings" />
    </v-container>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import $ from 'jquery';

export default {
  name: "ExternalUsers",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  data() {
    var component = this;
    return {
      gridSettings: {
        onOpen(dataItem) {
          component.$root.$emit("toggleDialog", {
            isExternal: true,
            id: dataItem ? dataItem.id : 0
          });
        },
        dialogComponent: "AddEditExternalUsers",
        entityName: "User",
        filterRule: {
          condition: "and",
          rules: [
            {
              field: "userTypeId",
              operator: "equal",
              value: 5
            }
          ]
        },
        searchableColumns: ["userName", "emailAddress"],
        columns: [{
          field: "userName",
          title: "Ime"
        }, {
          field: "emailAddress",
          title: "E-mail"
        }]
      }
    }
  }
};
</script>
