<template>
  <v-card>
    <v-card-title class="headline">Uplata</v-card-title>
    <v-container>
      <div class="k-form-item">
        <v-label>Ulaz</v-label>
        <kendo-dropdownlist
          v-model="buildingId"
          :data-source="buildingData"
          :data-text-field="'viewVal'"
          :data-value-field="'id'"
          :filter="'contains'"
          :option-label="'Odaberi...'"
        ></kendo-dropdownlist>
        <div
          class="v-messages theme--light error--text"
          v-if="!$v.buildingId.required && $v.buildingId.$dirty"
        >Ovo polje je obavezno</div>
      </div>

      <div class="k-form-item" v-if="buildingId">
        <v-label>Prostor</v-label>
        <kendo-dropdownlist
          v-model="propertyId"
          :data-source="propertiesData"
          :data-text-field="'referenceNumber'"
          :data-value-field="'id'"
          :filter="'contains'"
          :option-label="'Odaberi...'"
        ></kendo-dropdownlist>
        <!-- <div
          class="v-messages theme--light error--text"
          v-if="!$v.propertyId.required && $v.propertyId.$dirty"
        >Ovo polje je obavezno</div> -->
      </div>

      <v-text-field v-model="name" label="Svrha" required></v-text-field>

      <v-textarea v-model="description" label="Opis" required></v-textarea>

      <v-text-field v-model="bankAccount" label="Broj računa" required></v-text-field>

      <v-text-field v-model="bankStatementNumber" label="Broj izvoda" required></v-text-field>

      <v-text-field v-model="amount" label="Iznos" required type="number"></v-text-field>
    </v-container>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
      <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import Vue from "vue";
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  name: "ExternalPayment",
  props: ["dialogData"],
  mixins: [validationMixin],
  validations: {
    buildingId: { required }
  },
  data() {
    return {
      name: "",
      description: "",
      id: 0,
      propertyId: "",
      buildingId: "",
      bankStatementNumber: "",
      amount: "",
      bankAccount: ""
    };
  },
  computed: {
    propertiesData() {
      let filterRule = {
        condition: "and",
        rules: [
          {
            field: "buildingId",
            operator: "equal",
            value: this.buildingId
          }
        ]
      };
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Property/GetPickerList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            options.filterRule = filterRule;
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            return data.result.items;
          }
        },
        serverFiltering: true
      }
    },
    buildingData() {
      let token = this.$store.state.token;
      let searchText = '';
      return {
        transport: {
          read: {
            url: Vue.http.options.root + "/services/app/Building/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap: function(options) {
            if (options.filter && options.filter.filters && options.filter.filters.length) {
              searchText = options.filter.filters[0].value;
            }
            if (searchText) {
              options.searchText = searchText;
            }
            return kendo.stringify(options);
          }
        },
        schema: {
          parse: function(data) {
            data.result.items.forEach(function(element) {
                element.viewVal = element.pib + '   (' + element.streetAddress + ')';
            });
            return data.result.items;
          }
        },
        serverFiltering: true
      };
    }
  },
  methods: {
    submitForm() {
      let url = "services/app/ReceivedPayment/Create";

      let component = this;

      component.$v.$touch();
      if (component.$v.$invalid) {
        return;
      }

      this.$http.post(url, component.$data).then(
        function() {
          this.closeDialog();
          this.$root.$emit("toggleNotification", {
            msg: "Uplata uspješno dodata"
          });
        },
        function() {
          this.$root.$emit("toggleNotification", {
            msg: "Došlo je do greške pri čuvanju"
          });
        }
      );
    },
    closeDialog() {
      this.$root.$emit("toggleExternalPayment");
    }
  }
};
</script>