<template>
  <div class="internal-reports">
    <v-container fluid pb-0>
      <h1>Interni izvještaji</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings" />
    </v-container>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import $ from 'jquery';

export default {
  name: "InternalReports",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  data() {
    return {
      gridSettings: {
        parse(data) {
          data.result.items.forEach(function(element) {
            element.parsedDescription = $('<p>' + element.description + '</p>').text();
          });
          return data.result.items;
        },
        dialogComponent: "AddEditReports",
        entityName: "Report",
        searchableColumns: ["title"],
        columns: [{
          field: "title",
          title: "Ime"
        }, {
          field: "parsedDescription",
          title: "Opis"
        }]
      }
    }
  }
};
</script>
