<template>
  <div class="invoices">
    <v-container fluid pb-0>
      <h1>Fakturisanje</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings" />
    </v-container>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import $ from 'jquery';
import saveAs from 'file-saver';


export default {
  name: "Invoices",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  data() {
    let comp = this;
    return {
      gridSettings: {
         parse(data) {
          data.result.items.forEach(function(element) {
            if (element.proinvoiceDate) {
              element.proinvoiceDate = kendo.toString(kendo.parseDate(element.proinvoiceDate), 'dd/MM/yyyy');
            }
            if (element.invoiceDate) {
              element.invoiceDate = kendo.toString(kendo.parseDate(element.invoiceDate), 'dd/MM/yyyy');
            }
          });
          return data.result.items;
        },
        onOpen(item) {
          comp.$router.push({
            name: "faktura",
            query: {
              entity: "faktura",
              id: item ? item.id : 0
            }
          });
        },
        print(dataItem) {
          comp.$http
          .get("services/app/Invoice/Print?id=" + dataItem.id, {responseType: 'blob'})
          .then(
            response => {
              comp.dialog = false;
              var blob = new Blob([response.body], {type: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document;charset=utf-8'})
              saveAs(blob, 'Pravna_sluzba_' + kendo.toString(kendo.parseDate(new Date()), 'dd/MM/yyyy') + '.docx')
            },
            response => {
              comp.$root.$emit("toggleNotification", {
                msg: "Došlo je do greške pri štampanju"
              });
            }
          );
        },
        export: true,
        dialogComponent: "AddEditInvoices",
        entityName: "Invoice",
        url: "/services/app/Invoice/GetGridData",
        searchableColumns: ["creatorName", "buildingAddress"],
        columns: [{
          field: "creatorName",
          title: "Autor"
        }, {
          field: "buildingAddress",
          title: "Adresa ulaza"
        }, {
          field: "proinvoiceDate",
          title: "Datum štampanja profakture"
        }, {
          field: "invoiceDate",
          title: "Datum štampanja fakture"
        }, {
          field: "total",
          title: "Ukupno"
        }]
      }
    }
  }
};
</script>
