<template>
  <div class="janitor-reports">
    <v-container fluid>
      <h1>Domarska služba</h1>
          <v-flex xs12 mt-3>

      <v-card>
            <v-tabs
            grow
      v-model="activeTab.index"
      light
      slider-color="primary"
    >
      <v-tab
        v-for="(tab,index) in tabs"
        :key="index"
        ripple
        @click="setActiveTab(tab, index)"
        v-if="!tab.hidden"
      >
        {{tab.name}}
      </v-tab>
    </v-tabs>
        
     <v-card-text>
        <RefreshGrid :settings="gridSettings" />
    </v-card-text>  
        

    </v-card>
          </v-flex>
    </v-container>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import $ from "jquery";
import Vue from "vue";

export default {
  name: "JanitorReports",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  created() {
    this.setActiveTab(this.activeTab);
  },
  data() {
    return {
      gridSettings: {},
      activeTab: { name: "Radovi" },
      tabs: [{ name: "Radovi" }, { name: "Zalihe" }],
      reportGridSettings: {
        dialogComponent: "AddEditReports",
        entityName: "Report",
        searchableColumns: ["janitor", "client", "title", "maintenanceType"],
        url: "/services/app/Report/GetGridData",
        columns: [
          {
            field: "janitor",
            title: "Domar"
          },
          {
            field: "client",
            title: "Klijent"
          },
          {
            field: "title",
            title: "Posao"
          },
          {
            field: "maintenanceType",
            title: "Investicija/Održavanje"
          },
          {
            field: "invoice",
            title: "Faktura"
          },
          {
            field: "quantity",
            title: "Količina"
          }
        ]
      },
      supplyGridSettings: {
        dialogComponent: "AddEditSupply",
        entityName: "Supply",
        searchableColumns: ["name", "invoiceNumber", "quantity", "createdBy"],
        url: "/services/app/Supply/GetGridData",
        parse(data) {
          data.result.items.forEach(function(element) {
            element.parsedDate = kendo.toString(kendo.parseDate(element.date), 'dd/MM/yyyy');
          });
          return data.result.items;
        },
        columns: [
          {
            field: "name",
            title: "Naziv"
          },
          {
            field: "itemPrice",
            title: "Cijena",
            format: "decimal"
          },
          {
            field: "invoiceNumber",
            title: "Broj fakture"
          },
          {
            field: "quantity",
            title: "Količina"
          },
          {
            field: "parsedDate",
            title: "Datum"
          },
          {
            field: "createdBy",
            title: "Domar"
          }
        ]
      }
    };
  },
  methods: {
    setActiveTab(tab, index) {
      if (tab.name === "Radovi") {
        Vue.set(this, "gridSettings", this.reportGridSettings);
      }
      if (tab.name === "Zalihe") {
        Vue.set(this, "gridSettings", this.supplyGridSettings);
      }
    }
  }
};
</script>
