<template>
  <div class="legal-office">
    <v-container fluid pb-0>
      <h1>Pravna služba</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings"/>
    </v-container>
    <v-dialog width="300px" v-model="dialog">
      <v-card>
        <v-card-title class="headline" v-if="currentItem">{{currentItem}}</v-card-title>
        <v-card-text v-if="noteMode">
          <v-textarea label="Napomena" v-model="note"></v-textarea>
          <v-btn @click="saveNote">OK</v-btn>
        </v-card-text>
        <v-card-text v-if="printMode">
          <v-btn @click="printInvoice('warning')">Upozorenje</v-btn>
          <v-btn @click="printInvoice('exec')">Izvršenje</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog width="600px" v-model="showActionsDialog">
      <v-card>
        <v-card-text>
          <v-layout v-if="sendWarning">
            <v-flex>
              <v-select
                :items="languages"
                label="Jezik"
                item-text="name"
                item-value="lang"
                v-model="lang"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-flex v-if="sendWarning">
            <v-btn @click="onSendWarning">Pošalji</v-btn>
          </v-flex>

          <v-layout v-if="printWarning">
            <v-flex>
              <v-select
                :items="languages"
                label="Jezik"
                item-text="name"
                item-value="lang"
                v-model="lang"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-flex v-if="printWarning">
            <v-btn @click="onPrintWarning">Štampaj</v-btn>
          </v-flex>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import $ from "jquery";
import saveAs from "file-saver";

export default {
  name: "LegalOffice",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  methods: {
    onSendWarning(dataItem) {
      const component = this;
      component.$http
        .post("services/app/PropertyLegalStatus/SendWarning", {
          propertyId: component.currentItem.id,
          lang: this.lang
        })
        .then(
          response => {
            if (response.body.result) {
              component.$root.$emit("toggleNotification", {
                msg: "Opomena uspješno poslata!"
              });
            } else {
              component.$root.$emit("toggleNotification", {
                msg: "Došlo je do greške"
              });
            }
          },
          response => {
            component.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške"
            });
          }
        );
    },
    printInvoice(type) {
      this.$http
        .get(
          "services/app/Invoice/Print?id=" +
            this.propId +
            "&isWarning=" +
            (type === "warning"),
          { responseType: "blob" }
        )
        .then(
          response => {
            let comp = this;
            comp.dialog = false;
            var blob = new Blob([response.body], {
              type:
                "application/vnd.openxmlformats-officedocument.wordprocessingml.document;charset=utf-8"
            });
            saveAs(
              blob,
              "Pravna_sluzba_" +
                kendo.toString(kendo.parseDate(new Date()), "dd/MM/yyyy") +
                ".docx"
            );
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri štampanju"
            });
          }
        );
    },
    saveNote() {
      this.$http
        .post("services/app/PropertyLegalStatus/Create", {
          propertyId: this.propId,
          note: this.note
        })
        .then(
          response => {
            this.dialog = false;
            $(".legal-office")
              .find(".k-grid")
              .data("kendoGrid")
              .dataSource.read();
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri čuvanju"
            });
          }
        );
    },
    onPrintWarning() {
      const component = this;
      component.$http
        .post(
          "services/app/PropertyLegalStatus/DownloadWarning",
          {
            propertyId: component.currentItem.id,
            lang: component.lang
          },
          {
            responseType: "blob"
          }
        )
        .then(
          response => {
            if (response.body) {
              var blob = new Blob([response.body], {
                type:
                  "application/vnd.openxmlformats-officedocument.wordprocessingml.document;charset=utf-8"
              });
              saveAs(
                blob,
                "Opomena_" +
                  kendo.toString(kendo.parseDate(new Date()), "dd/MM/yyyy") +
                  ".docx"
              );
            } else {
              component.$root.$emit("toggleNotification", {
                msg: "Došlo je do greške"
              });
            }
          },
          response => {
            component.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške"
            });
          }
        );
    }
  },
  watch: {
    dialog(newVal) {
      if (!newVal) {
        this.noteMode = false;
        this.printMode = false;
        this.currentItem = "";
      }
    }
  },
  data() {
    var component = this;
    var isEndUser = this.$store.state.userInfo.userTypeId === 5;

    return {
      dialog: false,
      note: "",
      propId: "",
      currentItem: "",
      printMode: false,
      noteMode: false,
      sendWarning: false,
      showActionsDialog: false,
      lang: "",
      printWarning: false,
      languages: [
        {
          name: "Crnogorski",
          lang: ""
        },
        {
          name: "Engleski",
          lang: "en"
        },
        {
          name: "Ruski",
          lang: "ru"
        }
      ],
      gridSettings: {
        readonly: true,
        url: "/services/app/Property/GetPropertiesWithDebt",
        dialogComponent: "AddEditExternalUsers",
        searchableColumns: ["referenceNumber", "number", "floor", "owner"],
        entityName: "Property",
        // send() {
        //   component.printMode = true;
        //   component.dialog = true;
        // },
        // print(dataItem) {
        //   component.propId = dataItem.id;
        //   component.currentItem = dataItem.referenceNumber;
        //   component.printMode = true;
        //   component.dialog = true;
        // },
        // editNote(dataItem) {
        //   component.propId = dataItem.id;
        //   component.currentItem = dataItem.referenceNumber;
        //   component.noteMode = true;
        //   component.dialog = true;
        // },

        printWarning(dataItem) {
          component.printWarning = true;
          component.showActionsDialog = true;
          component.sendWarning = false;
          component.currentItem = dataItem;
        },
        sendWarning(dataItem) {
          component.sendWarning = true;
          component.currentItem = dataItem;
          component.showActionsDialog = true;
          component.printWarning = false;

          //PropertyLegalStatus/SendWarning
          // component.$http
          //   .post("services/app/PropertyLegalStatus/SendWarning", {
          //     propertyId: dataItem.id,
          //     lang: ""
          //   })
          //   .then(
          //     response => {
          //       if (response.body.result) {
          //         component.$root.$emit("toggleNotification", {
          //           msg: "Opomena uspješno poslata!"
          //         });
          //       } else {
          //         component.$root.$emit("toggleNotification", {
          //           msg: "Došlo je do greške"
          //         });
          //       }
          //     },
          //     response => {
          //       component.$root.$emit("toggleNotification", {
          //         msg: "Došlo je do greške"
          //       });
          //     }
          //   );
        },
        // printExec(dataItem) {},

        change(ev) {
          var selected = ev.sender.dataItem(ev.sender.select());
          if (!isEndUser) {
            component.$router.push({
              name: "prostor",
              query: {
                entity: "prostor",
                id: selected.id
              }
            });
          } else {
            let data = {
              userId: component.$store.state.userInfo.id,
              propertyId: selected.id
            };
            component.$http
              .get("services/app/PropertyOwner/IsPropertyOwner", {
                params: data
              })
              .then(
                response => {
                  if (response.body.result) {
                    component.$router.push({
                      name: "prostor",
                      query: {
                        entity: "prostor",
                        id: selected.id
                      }
                    });
                  } else {
                    component.$root.$emit("toggleNotification", {
                      msg: "Pristup ovom prostoru nije dozvoljen"
                    });
                  }
                },
                response => {
                  component.$root.$emit("toggleNotification", {
                    msg: "Pristup ovom prostoru nije dozvoljen"
                  });
                }
              );
          }
        },
        columns: [
          {
            field: "referenceNumber",
            title: "Poziv na broj"
          },
          {
            field: "number",
            title: "Broj stana"
          },
          {
            field: "owner",
            title: "Vlasnik"
          },
          {
            field: "floor",
            title: "Sprat"
          },
          {
            field: "quadrature",
            title: "Kvadratura"
          },
          {
            field: "legalStatus",
            title: "Napomena"
          },
          {
            field: "totalCost",
            title: "Iznos",
            format: "decimal"
          },
          {
            field: "totalPaid",
            title: "Plaćeno",
            format: "decimal"
          },
          {
            field: "debt",
            title: "Dug",
            format: "decimal"
          }
        ]
      }
    };
  }
};
</script>
