<template class="login">
  <v-container fill-height>
    <v-layout justify-center align-center v-if="!showRegister">
          <v-flex xs12 sm6 xl4>
              <v-card>
                  <v-card-title>
                    <h3>Login</h3>
                  </v-card-title>
                  <v-card-text>
                  <v-form>
                      <v-text-field
                        v-model="name"
                        :error-messages="nameErrors, email"
                        :counter="20"
                        label="Ime"
                        required
                        @input="$v.name.$touch()"
                        @blur="$v.name.$touch()"
                      ></v-text-field>
                      <v-text-field
	  						        v-model="password"
	  						        :append-icon="show ? 'visibility_off' : 'visibility'"
	  						        :type="show ? 'text' : 'password'"
	  						        label="Šifra"
	  						        required
	  						        counter
	  						        @click:append="show = !show"></v-text-field>
                      <v-layout mt-2>
                        <v-flex>
                          <v-btn type="submit" @click="submit">Uloguj se</v-btn>
                        </v-flex>
                        <v-flex class="text-xs-right" pt-3>
                          <button class="register-btn" @click="openRegisterPage">Registracija</button>
                        </v-flex>
                      </v-layout>
                  </v-form>
                  </v-card-text>
              </v-card>
          </v-flex>
    </v-layout>

    <Register v-if="showRegister" />
  </v-container>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";
import axios from "axios";
import $ from 'jquery';
import Register from "@/components/Register.vue";

export default {
  name: "Login",
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(20) }
  },
  components: {
    Register
  },
  data: () => ({
    name: "",
    email: "",
    password: "",
    show: false,
    showRegister: false
  }),
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("Name must be at most 20 characters long");
      !this.$v.name.required && errors.push("Ovo polje je obavezno.");
      // !this.$v.name.email && errors.push("Must be valid e-mail");

      return errors;
    }
  },
  methods: {
    submit(event) {
      event.preventDefault();
      let comp = this;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      } else {
        this.$http.post("TokenAuth/Authenticate", {
          userNameOrEmailAddress: this.name,
          password: this.password,
          rememberClient: true
        })
          .then(function success(response) {
            comp.$root.$emit("toggleNotification", {
              msg: "Uspješno ste se ulogovali"
            });
            comp.$store.commit("setToken", response.data);
            localStorage.setItem('user-token', JSON.stringify(response.data));            
            comp.$http.get('services/app/Session/GetCurrentLoginInformations').then(function(response) {
              localStorage.setItem('user-info', JSON.stringify(response.body.result.user));
              comp.$store.commit("setUserInfo", response.body.result.user);
              comp.$router.push("/ulazi");
            });
          })
          .catch(function err(response) {
            comp.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri login-u"
            });
          });
      }
    },
    openRegisterPage(event) {
      event.preventDefault();
      this.showRegister = true;
    }
  },
  created() {
    var comp = this;
    this.$root.$on('goBack', function(data) {
      comp.showRegister = false;
      if (data) {
        comp.name = data.name;
        comp.password = data.password;
      }
    });
  }
};


</script>

<style lang="scss">
  .register-btn {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: #1980BB;
    padding-right: 4px;
  }
</style>
