<template>
  <div class="not-found">
    <h1>Stranica koju ste tražili ne postoji</h1>
  </div>
</template>

<script>
export default {
  name: 'NotFound',
  props: {
    msg: String
  }
}
</script>

<style scoped>
  
</style>
