<template>
 <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
    >
      {{ text }}
      <v-btn
        color="pink"
        flat
        @click="snackbar = false"
      >
        Zatvori
      </v-btn>
    </v-snackbar>
</template>

<script>
export default {
  name: "Notification",
  data() {
    return {
      snackbar: false,
      y: "bottom",
      x: "right",
      mode: "",
      timeout: 6000,
      text: ""
    };
  },
  created() {
    var component = this;
    this.$root.$on('toggleNotification', function ({msg: msg}) {
        component.snackbar = !component.snackbar;
        component.text = msg;
    })
  }
};
</script>

<style scoped>
</style>
