<template>
  <div class="cities">
    <v-container fluid pb-0>
    <h1>Vlasnici</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings" />
    </v-container>
    <Dialog :componentName="'AddEditOwners'" />
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";

export default {
  name: "Owners",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  data() {
    return {
      gridSettings: {
        dialogComponent: "AddEditOwners",
        entityName: "Owner",
        searchableColumns: ["jmbg", "firstName", "lastName", "address", "email"],
        columns: [{
          field: "jmbg",
          title: "JMBG"
        }, {
          field: "firstName",
          title: "Ime"
        }, {
          field: "lastName",
          title: "Prezime"
        }, {
          field: "address",
          title: "Adresa"
        },{
          field: "email",
          title: "E-mail"
        }]
      }
    }
  }
};
</script>

