<template>
  <v-container fluid>
    <v-dialog width="600px" v-model="showActionsDialog">
      <v-card>
        <v-card-text>
          <v-layout v-if="downloadInvoice">
            <v-flex mr-2>
              <v-text-field label="Godina" v-model="invoiceYear" type="number"></v-text-field>
            </v-flex>
            <v-flex>
              <v-select
                :items="months"
                label="Mjesec"
                item-text="name"
                item-value="id"
                v-model="invoiceMonth"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-flex v-if="downloadInvoice">
            <v-btn @click="downloadInvoiceData">Preuzmi</v-btn>
          </v-flex>

          <v-layout v-if="sendWarning">
            <v-flex>
              <v-select
                :items="languages"
                label="Jezik"
                item-text="name"
                item-value="lang"
                v-model="lang"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-flex v-if="sendWarning">
            <v-btn @click="onSendWarning">Pošalji</v-btn>
          </v-flex>
        </v-card-text>
      </v-card>
    </v-dialog>
    <div class="property-view">
      <v-layout>
        <v-flex sm9>
          <h1>
            <span title="Nazad" @click="goBack" class="icon-wrapper">
              <i class="material-icons">arrow_back</i>
            </span>
            Prostor {{entityData ? entityData.referenceNumber : ''}}
          </h1>
        </v-flex>
        <v-flex sm3>
          <v-select
            :items="actions"
            label="Odaberite akciju"
            clearable
            return-object
            item-text="name"
            item-value="id"
            @input="onChange($event)"
          ></v-select>
        </v-flex>
      </v-layout>

      <v-flex xs12 mt-3>
        <v-card>
          <v-tabs grow v-model="active" light slider-color="primary">
            <v-tab
              v-for="tab in tabs"
              :key="tab.name"
              ripple
              @click="setActiveTab(tab.name)"
              v-if="!tab.hidden"
            >{{tab.name}}</v-tab>
          </v-tabs>
          <div v-if="activeTab === 'Info'">
            <v-container v-for="element in items" :key="element.name">
              <h2>{{element.name}}</h2>
              <v-divider></v-divider>
              <v-layout row wrap>
                <v-flex
                  xs12
                  sm3
                  class="property"
                  v-for="(prop, index) in element.items"
                  :key="index"
                >
                  <div class="prop-label">{{prop.title}}</div>
                  <span class="content">{{prop.value}}</span>
                </v-flex>
              </v-layout>
            </v-container>
          </div>

          <div v-if="isGridTab">
            <v-card-text>
              <RefreshGrid :settings="gridSettings"/>
            </v-card-text>
          </div>
        </v-card>
      </v-flex>
    </div>
  </v-container>
</template>

<script>
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import Dialog from "@/components/common/Dialog.vue";
import Vue from "vue";

function parseItems(items) {
  let data = [
    {
      name: "Osnovni podaci",
      items: []
    }
  ];

  function getLocationByName(name) {
    var itemIndex = 0;
    data.forEach(function(el, index) {
      if (el.name === name) {
        itemIndex = index;
      }
    });
    return itemIndex;
  }

  function getTranslation(key) {
    let translation = "";
    switch (key) {
      case "referenceNumber":
        translation = "Poziv na broj";
        break;
      case "quadrature":
        translation = "Broj kvadrata";
        break;
      case "pd":
        translation = "PD";
        break;
      case "pricePerSquareMeter":
        translation = "Cijena po kvadratnom metru";
        break;
      case "number":
        translation = "Broj";
        break;
      case "floor":
        translation = "Sprat";
        break;
      case "propertyType":
        translation = "Tip prostora";
        break;
    }
    return translation;
  }

  function getValue(key, value) {
    if (key === "pricePerSquareMeter") {
      value = kendo.toString(value, "n2");
    }
    if (key === "propertyType" && value) {
      value = value.name;
    }
    if (key === "contractStartDate" || key === "contractEndDate") {
      value = kendo.toString(kendo.parseDate(value), "d");
    }
    if (!value) {
      value = "-";
    }
    return value;
  }

  let basicItems = [
    "referenceNumber",
    "quadrature",
    "pd",
    "pricePerSquareMeter",
    "number",
    "floor",
    "propertyType"
  ];

  for (let item in items) {
    if (basicItems.indexOf(item) > -1) {
      let itemIndex = getLocationByName("Osnovni podaci");
      data[itemIndex].items.push({
        title: getTranslation(item),
        value: getValue(item, items[item])
      });
    }
  }

  return data;
}

export default {
  name: "PropertyView",
  components: {
    RefreshGrid,
    Dialog
  },
  computed: {
    isGridTab() {
      var map = [];
      this.tabs.forEach(function(el) {
        if (el.name !== "Info" && el.name !== "Žalbe") {
          map.push(el.name);
        }
      });
      var isGridTab = map.indexOf(this.activeTab) > -1;
      return isGridTab;
    }
  },
  created() {
    let comp = this;
    comp.$http
      .get(comp.getUrl(comp.$route.query.entity), {
        params: { id: this.$route.query.id }
      })
      .then(
        response => {
          comp.entityData = response.body.result;
          comp.items = parseItems(comp.entityData);
        },
        function err() {}
      );
  },
  data() {
    var component = this;
    var isEndUser = this.$store.state.userInfo.userTypeId === 5;
    var filterRule = {
      condition: "and",
      rules: [
        {
          field: "propertyId",
          operator: "equal",
          value: component.$route.query.id
        }
      ]
    };
    var balanceFilter = {
      condition: "and",
      rules: [
        {
          field: "id",
          operator: "equal",
          value: component.$route.query.id
        }
      ]
    };
    return {
      isEndUser: isEndUser,
      lang: '',
      months: [
        { id: 1, name: "Januar" },
        { id: 2, name: "Februar" },
        { id: 3, name: "Mart" },
        { id: 4, name: "April" },
        { id: 5, name: "Maj" },
        { id: 6, name: "Jun" },
        { id: 7, name: "Jul" },
        { id: 8, name: "Avgust" },
        { id: 9, name: "Septembar" },
        { id: 10, name: "Oktobar" },
        { id: 11, name: "Novembar" },
        { id: 12, name: "Decembar" }
      ],
      languages: [{
        name: 'Crnogorski',
        lang: ''
      }, {
        name: 'Engleski',
        lang: 'en'
      }, {
        name: 'Ruski',
        lang: 'ru'
      }],
      invoiceYear: new Date().getFullYear(),
      invoiceMonth: 1,
      downloadInvoice: false,
      showActionsDialog: false,
      sendWarning: false,
      activeTab: "Info",
      active: "",
      entityData: {},
      items: [],
      actions: isEndUser
        ? [
            {
              id: 3,
              name: "Preuzmi račune"
            }
          ]
        : [
            {
              id: 1,
              name: "Štampaj opomenu"
            },
            {
              id: 2,
              name: "Pošalji opomenu"
            },
            {
              id: 3,
              name: "Preuzmi račune"
            }
          ],
      tabs: [
        {
          name: "Info"
        },
        {
          name: "Pregled stanja",
          hidden: isEndUser
        },
        {
          name: "Vlasnici"
        },
        {
          name: "Uplate"
        },
        {
          name: "Troškovi"
        },
        {
          name: "Zakazani troškovi",
          hidden: isEndUser
        }
      ],
      gridSettings: {},
      propertyGridSettings: {
        dialogComponent: "AddEditProperties",
        entityName: "Property",
        filterRule: filterRule,
        change(ev) {
          var selected = ev.sender.dataItem(ev.sender.select());
          component.$router.push({
            name: "prostor",
            query: {
              entity: "prostor",
              id: selected.id
            }
          });
        },
        columns: [
          {
            field: "referenceNumber",
            title: "Poziv na broj"
          },
          {
            field: "number",
            title: "Broj stana"
          },
          {
            field: "floor",
            title: "Sprat"
          },
          {
            field: "quadrature",
            title: "Kvadratura"
          }
        ]
      },
      expenseSettings: {
        dialogComponent: "AddEditMaintenanceFees",
        entityName: "MaintenanceFee",
        filterRule: filterRule,
        searchableColumns: ["title", "description", "year"],
        readonly: isEndUser,
        parse(data) {
          var months = [
            { id: 1, name: "Januar" },
            { id: 2, name: "Februar" },
            { id: 3, name: "Mart" },
            { id: 4, name: "April" },
            { id: 5, name: "Maj" },
            { id: 6, name: "Jun" },
            { id: 7, name: "Jul" },
            { id: 8, name: "Avgust" },
            { id: 9, name: "Septembar" },
            { id: 10, name: "Oktobar" },
            { id: 11, name: "Novembar" },
            { id: 12, name: "Decembar" }
          ];
          data.result.items.forEach(function(element) {
            var currentMonth = months.filter(function(el) {
              return el.id === element.month;
            })[0];
            element.monthNumber = element.month;
            element.month = currentMonth.name;
            element.creationTime = kendo.toString(
              kendo.parseDate(element.creationTime),
              "dd/MM/yyyy"
            );
          });
          return data.result.items;
        },
        columns: [
          {
            field: "title",
            title: "Naziv"
          },
          {
            field: "description",
            title: "Opis"
          },
          {
            field: "amount",
            title: "Iznos",
            format: "decimal"
          },
          {
            field: "month",
            title: "Mjesec"
          },
          {
            field: "year",
            title: "Godina"
          },
          {
            field: "creationTime",
            title: "Datum "
          }
        ]
      },
      announcementSettings: {
        dialogComponent: "AddEditAnnouncements",
        entityName: "Announcement",
        filterRule: filterRule,
        searchableColumns: ["title"],
        columns: [
          {
            field: "title",
            title: "Naslov"
          }
        ]
      },
      scheduledExpensesSettings: {
        parse(data) {
          data.result.items.forEach(function(element) {
            if (element.creationTime) {
              element.creationTime = kendo.toString(
                kendo.parseDate(element.creationTime),
                "dd/MM/yyyy"
              );
            }
          });
          return data.result.items;
        },
        dialogComponent: "AddEditScheduledMaintenanceFees",
        entityName: "ScheduledMaintenanceFee",
        filterRule: filterRule,
        searchableColumns: ["title", "description", "amount"],
        columns: [
          {
            field: "title",
            title: "Naslov"
          },
          {
            field: "description",
            title: "Opis"
          },
          {
            field: "amount",
            title: "Iznos",
            format: "decimal"
          },
          {
            field: "creationTime",
            title: "Datum"
          }
        ]
      },
      ticketSettings: {
        dialogComponent: "AddEditTickets",
        entityName: "Ticket",
        filterRule: filterRule,
        searchableColumns: ["title", "description"],
        columns: [
          {
            field: "title",
            title: "Naslov "
          },
          {
            field: "description",
            title: "Opis"
          }
        ]
      },
      propertyOwnerSettings: {
        readonly: isEndUser,
        dialogComponent: "AddEditPropertyOwners",
        url: "/services/app/PropertyOwner/GetGridData",
        entityName: "PropertyOwner",
        filterRule: filterRule,
        searchableColumns: ["ownerName", "jmbg", "email", "address"],
        columns: [
          {
            field: "ownerName",
            title: "Ime i prezime"
          },
          {
            field: "jmbg",
            title: "JMBG"
          },
          {
            field: "email",
            title: "E-mail"
          },
          {
            field: "address",
            title: "Adresa"
          }
        ]
      },
      receivedPaymentSettings: {
        readonly: isEndUser,
        dialogComponent: "AddEditReceivedPayments",
        entityName: "ReceivedPayment",
        filterRule: filterRule,
        sorter: {
          dir: "desc",
          field: "creationTime"
        },
        searchableColumns: ["name", "amount", "bankAccount"],
        parse(data) {
          data.result.items.forEach(function(element) {
            if (element.creationTime) {
              element.creationTime = kendo.toString(
                kendo.parseDate(element.creationTime),
                "dd/MM/yyyy"
              );
            }
          });
          return data.result.items;
        },
        columns: [
          {
            field: "name",
            title: "Svrha"
          },
          {
            field: "amount",
            title: "Iznos",
            format: "decimal"
          },
          {
            field: "bankStatementNumber",
            title: "Broj izvoda"
          },
          {
            field: "bankAccount",
            title: "Broj računa"
          },
          {
            field: "creationTime",
            title: "Datum"
          }
        ]
      },
      balanceSettings: {
        readonly: true,
        hideActions: true,
        url: "/services/app/Property/GetBalanceData",
        filterRule: balanceFilter,
        searchableColumns: ["referenceNumber", "number", "propertyTypeName"],
        parse(data) {
          data.result.items.forEach(function(element) {
            element.janRelation =
              (element.janPaid || "-") + "/" + (element.janCost || "-");
            element.febRelation =
              (element.febPaid || "-") + "/" + (element.febCost || "-");
            element.marRelation =
              (element.marPaid || "-") + "/" + (element.marCost || "-");
            element.aprRelation =
              (element.aprPaid || "-") + "/" + (element.aprCost || "-");
            element.mayRelation =
              (element.mayPaid || "-") + "/" + (element.mayCost || "-");
            element.junRelation =
              (element.junPaid || "-") + "/" + (element.junCost || "-");
            element.julRelation =
              (element.julPaid || "-") + "/" + (element.julCost || "-");
            element.augRelation =
              (element.augPaid || "-") + "/" + (element.augCost || "-");
            element.sepRelation =
              (element.sepPaid || "-") + "/" + (element.sepCost || "-");
            element.octRelation =
              (element.octPaid || "-") + "/" + (element.octCost || "-");
            element.novRelation =
              (element.novPaid || "-") + "/" + (element.novCost || "-");
            element.decRelation =
              (element.decPaid || "-") + "/" + (element.decCost || "-");
            element.totalRelation =
              (element.totalPaid || "-") + "/" + (element.totalCost || "-");
          });
          return data.result.items;
        },
        columns: [
          {
            field: "year",
            title: "Godina",
            width: 76
          },
          {
            field: "janRelation",
            width: 76,
            title: "Jan"
          },
          {
            field: "febRelation",
            width: 76,
            title: "Feb"
          },
          {
            field: "marRelation",
            width: 76,
            title: "Mar"
          },
          {
            field: "aprRelation",
            width: 76,
            title: "Apr"
          },
          {
            field: "mayRelation",
            width: 76,
            title: "May"
          },
          {
            field: "junRelation",
            width: 76,
            title: "Jun"
          },
          {
            field: "julRelation",
            width: 76,
            title: "Jul"
          },
          {
            field: "augRelation",
            width: 76,
            title: "Avg"
          },
          {
            field: "sepRelation",
            width: 76,
            title: "Sep"
          },
          {
            field: "octRelation",
            width: 76,
            title: "Oct"
          },
          {
            field: "novRelation",
            width: 76,
            title: "Nov"
          },
          {
            field: "decRelation",
            width: 76,
            title: "Dec"
          },
          {
            field: "totalCost",
            width: 76,
            title: "Iznos",
            format: "decimal"
          },
          {
            field: "totalPaid",
            title: "Plaćeno",
            width: 85,
            format: "decimal"
          },
          {
            field: "debt",
            title: "Dug",
            width: 85,
            format: "decimal"
          }
        ]
      }
    };
  },
  methods: {
    onSendWarning() {
      const component = this;
      component.$http
      .post("services/app/PropertyLegalStatus/SendWarning", {
        propertyId: component.$route.query.id,
        lang: this.lang
      })
      .then(
        response => {
          if (response.body.result) {
            component.$root.$emit("toggleNotification", {
              msg: "Opomena uspješno poslata!"
            });
          } else {
            component.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške"
            });
          }
        },
        response => {
          component.$root.$emit("toggleNotification", {
            msg: "Došlo je do greške"
          });
        }
      );
    },
    downloadInvoiceData() {
      this.$http
        .post(
          "services/app/Building/DownloadInvoice",
          {
            propertyId: parseInt(this.$route.query.id),
            month: this.invoiceMonth,
            year: this.invoiceYear
          },
          { responseType: "blob" }
        )
        .then(
          response => {
            var blob = new Blob([response.body], {
              type: "application/zip"
            });
            saveAs(
              blob,
              "Racun_" +
                this.entityData.building.pib +
                "-" +
                this.entityData.pd +
                "_" +
                this.invoiceYear +
                "-" +
                this.invoiceMonth +
                ".zip"
            );
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri eksportu"
            });
          }
        );
    },
    setActiveTab(tab) {
      if (tab === "Prostori u zgradi") {
        Vue.set(this, "gridSettings", this.propertyGridSettings);
      }
      if (tab === "Uplate") {
        Vue.set(this, "gridSettings", this.receivedPaymentSettings);
      }
      if (tab === "Troškovi") {
        Vue.set(this, "gridSettings", this.expenseSettings);
      }
      if (tab === "Zakazani troškovi") {
        Vue.set(this, "gridSettings", this.scheduledExpensesSettings);
      }
      if (tab === "Vlasnici") {
        Vue.set(this, "gridSettings", this.propertyOwnerSettings);
      }
      if (tab === "Pregled stanja") {
        Vue.set(this, "gridSettings", this.balanceSettings);
      }
      this.activeTab = tab;
    },
    getUrl(entity) {
      var url = "services/app/Property/GetPropertyView";
      return url;
    },
    goBack() {
      this.$router.go(-1);
    },
    onChange(item) {
      const component = this;
      if (!item) {
        return;
      }
      if (item.id === 1) {
        component.$http
          .post(
            "services/app/PropertyLegalStatus/DownloadWarning",
            {
              propertyId: component.$route.query.id,
              lang: ""
            },
            {
              responseType: "blob"
            }
          )
          .then(
            response => {
              if (response.body) {
                var blob = new Blob([response.body], {
                  type:
                    "application/vnd.openxmlformats-officedocument.wordprocessingml.document;charset=utf-8"
                });
                saveAs(
                  blob,
                  "Opomena_" +
                    kendo.toString(kendo.parseDate(new Date()), "dd/MM/yyyy") +
                    ".docx"
                );
              } else {
                component.$root.$emit("toggleNotification", {
                  msg: "Došlo je do greške"
                });
              }
            },
            response => {
              component.$root.$emit("toggleNotification", {
                msg: "Došlo je do greške"
              });
            }
          );
      }
      if (item.id === 2) {
        this.showActionsDialog = true;
        this.sendWarning = true;
        this.downloadInvoice = false;
      }
      if (item.id === 3) {
        this.sendWarning = false;
        this.downloadInvoice = true;
        this.showActionsDialog = true;
      }
    }
  }
};
</script>

<style scoped>
.property {
  padding: 16px 0;
}
.content {
  font-weight: 500;
}
.prop-label {
  color: #bbb;
  font-size: 12px;
}
.icon-wrapper {
  position: relative;
  top: 2px;
  cursor: pointer;
  font-weight: bold;
  color: #1980bb;
  display: inline-block;
  margin-right: 5px;
}
</style>
