<template>
  <div class="cities">
    <v-container fluid pb-0>
    <h1>Tipovi stanova</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings" />
    </v-container>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";

export default {
  name: "PropertyTypes",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  data() {
    return {
      gridSettings: {
        searchableColumns: ["name"],
        dialogComponent: "AddEditPropertyTypes",
        entityName: "PropertyType",
        columns: [{
          field: "name",
          title: "Naziv"
        }]
      }
    }
  }
};
</script>

