<template>
  <div class="cities">
    <v-container fluid pb-0>
    <h1>Stanovi</h1>
    </v-container>
    <v-container fluid>
      <RefreshGrid :settings="gridSettings" />
    </v-container>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";

export default {
  name: "Properties",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  data() {
    return {
      gridSettings: {
        dialogComponent: "AddEditProperties",
        entityName: "Property",
        columns: [{
          field: "referenceNumber",
          title: "Poziv na broj"
        }, {
          field: "pd",
          title: "PD"
        }, {
          field: "number",
          title: "Broj stana"
        }, {
          field: "floor",
          title: "Sprat"
        }, {
          field: "quadrature",
          title: "Kvadratura"
        }]
      }
    }
  }
};
</script>

