<template class="register">
    <v-layout justify-center align-center>
          <v-flex xs12 sm6 xl4>
              <v-card>
                  <v-card-title>
                    <i class="material-icons back-icon" title="Nazad" @click="goBack">arrow_back</i>
                    <h3>Registracija</h3>
                  </v-card-title>
                  <v-card-text>
                  <v-form>
                       <v-text-field
                        v-if="!jmbgValid"
                        v-model="jmbg"
                        :error-messages="jmbgErrors"
                        label="JMBG"
                        required
                        @input="$v.jmbg.$touch()"
                        @blur="$v.jmbg.$touch()"
                      ></v-text-field>

                      <v-text-field v-if="jmbgValid"
                        v-model="name"
                        :error-messages="nameErrors"
                        label="Ime"
                        required
                        @input="$v.name.$touch()"
                        @blur="$v.name.$touch()"
                      ></v-text-field>

                      <v-text-field v-if="jmbgValid"
                        v-model="surname"
                        :error-messages="surnameErrors"
                        label="Prezime"
                        required
                        @input="$v.surname.$touch()"
                        @blur="$v.surname.$touch()"
                      ></v-text-field>

                      <v-text-field v-if="jmbgValid"
                        v-model="userName"
                        :error-messages="userNameErrors"
                        label="Korisničko ime"
                        required
                        @input="$v.userName.$touch()"
                        @blur="$v.userName.$touch()"
                      ></v-text-field>

                        <v-text-field v-if="jmbgValid"
                        v-model="emailAddress"
                        :error-messages="emailAddressErrors"
                        label="E-mail"
                        required
                        @blur="$v.emailAddress.$touch()"
                      ></v-text-field>
 
                      <v-text-field v-if="jmbgValid"
	  					v-model="password"
	  					:append-icon="show ? 'visibility_off' : 'visibility'"
	  					:type="show ? 'text' : 'password'"
	  					label="Šifra"
	  					required
	  					counter
                        :error-messages="passwordErrors"
                        @input="$v.password.$touch()"
                        @blur="$v.password.$touch()"
	  					@click:append="show = !show"></v-text-field>
                      <v-layout mt-2>
                        <v-flex>
                          <v-btn v-if="jmbgValid" type="submit" @click="submit">Registruj se</v-btn>
                          <v-btn v-if="!jmbgValid" type="submit" @click="validateJmbg">OK</v-btn>
                        </v-flex>
                      </v-layout>
                  </v-form>
                  </v-card-text>
              </v-card>
          </v-flex>
    </v-layout>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength, email } from "vuelidate/lib/validators";

export default {
  name: "Register",
  mixins: [validationMixin],

  validations: {
    name: { required },
    surname: { required },
    emailAddress: { required, email },
    password: { required },
    userName: { required },
    jmbg: { required }
  },
  data: () => ({
    name: "",
    surname: "",
    userName: "",
    emailAddress: "",
    password: "",
    jmbg: "",
    show: false,
    jmbgValid: false,
    ownerId: ""
  }),
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    surnameErrors() {
      const errors = [];
      if (!this.$v.surname.$dirty) return errors;
      !this.$v.surname.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    emailAddressErrors() {
      const errors = [];
      if (!this.$v.emailAddress.$dirty) return errors;
      !this.$v.emailAddress.required && errors.push("Ovo polje je obavezno.");
      !this.$v.emailAddress.email &&
        errors.push("Unesite validnu e-mail adresu.");

      return errors;
    },
    userNameErrors() {
      const errors = [];
      if (!this.$v.userName.$dirty) return errors;
      !this.$v.userName.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push("Ovo polje je obavezno.");
      return errors;
    },
    jmbgErrors() {
      const errors = [];
      if (!this.$v.jmbg.$dirty) return errors;
      !this.$v.jmbg.required && errors.push("Ovo polje je obavezno.");
      return errors;
    }
  },
  methods: {
    goBack() {
        this.$root.$emit('goBack')
    },
    submit(event) {
      event.preventDefault();
      let comp = this;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      } else {
        var data = {
          name: this.name,
          surname: this.surname,
          userName: this.userName,
          emailAddress: this.emailAddress,
          password: this.password,
          ownerId: this.ownerId
        };

        this.$http
          .post("services/app/Account/Register", data)
          .then(function success() {
            comp.$root.$emit("toggleNotification", {
              msg: "Uspješno ste se registrovali"
            });
            this.$root.$emit('goBack', {name: this.userName, password: this.password})
          })
          .catch(function err() {
            comp.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri registraciji"
            });
          });
      }
    },
    validateJmbg(event) {
      event.preventDefault();
      let comp = this;
      this.$v.jmbg.$touch();
      if (!this.jmbg) {
        return;
      } else {
        var data = {
          jmbg: this.jmbg
        };

        this.$http
          .post("services/app/Account/RegistrationCheck?jmbg=" + data.jmbg)
          .then(function success(response) {
            if (!response.body.result) {
              comp.$root.$emit("toggleNotification", {
                msg: "JMBG koji ste unijeli nije validan"
              });
            } else {
              let owner = response.body.result;
              comp.jmbgValid = true;
              comp.ownerId = owner.id;
              comp.name = owner.firstName;
              comp.surname = owner.lastName;
              comp.emailAddress = owner.email;
            }          
          })
          .catch(function err() {
            comp.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri registraciji"
            });
          });
      }
    }
  }
};
</script>

<style lang="scss">
.back-icon {
    color: #1980BB;
    cursor: pointer;
    margin-right: 4px;
}
</style>
