<template>
  <div class="ticket-view">
    <v-container fluid pb-0>
      <v-card>
        <v-card-title>
          <h2><span title="Nazad" class="icon-wrapper" @click="goBack"><i class="material-icons">arrow_back</i></span>{{title}}</h2>
          <v-spacer></v-spacer>
          <v-flex xs1>
            <v-checkbox :label="'Riješena'" v-model="isClosed" @change="changeStatus"></v-checkbox>
          </v-flex>

        </v-card-title>
        <v-card-text>
          <v-label>Opis</v-label>
          <div v-html="description"></div>
        </v-card-text>
        <v-card-text>
         <div class="k-form-item"><v-label>Komentar</v-label>
            <kendo-editor v-if="loaded" :resizable-content="true"
                :resizable-toolbar="true"
                v-model="comment"
                style="height:280px"
                rows="10"
                cols="30">
            </kendo-editor>       
           </div>

          <v-flex pt-3><v-btn @click="addComment">Dodaj</v-btn></v-flex>
          <v-layout row wrap class="comments" mt-4 >
            <v-flex class="comment elevation-1" xs12 v-for="(comment, index) in comments" :key="index">
              <v-flex>
                <i class="material-icons">
                account_circle
                </i>
                <span class="creator-info">
                <span class="creator-name">{{comment.creator.name + " " + comment.creator.surname}}</span><span class="creator-mail">{{comment.creator.emailAddress}}</span>
                </span>
                </v-flex>
              <v-flex class="comment-content">{{comment.comment}}</v-flex>
              <v-flex class="date">{{getParsedDate(comment.creationTime)}}</v-flex>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import RefreshGrid from "@/components/common/RefreshGrid.vue";
import $ from "jquery";

export default {
  name: "TicketView",
  components: {
    Dialog,
    Grid,
    RefreshGrid
  },
  created() {
    var comp = this;
    this.$http
      .get("services/app/Ticket/Get", { params: { id: this.$route.query.id } })
      .then(function(response) {
        var data = response.body.result;
        this.title = data.title;
        this.description = data.description;
        this.isClosed = data.isClosed;
        this.buildingId = data.buildingId;
        this.propertyId = data.propertyId;
        this.id = data.id;
        this.loadComments();
        setTimeout(function() {
          comp.loaded = true;
        }, 0);
      });
  },
  data() {
    return {
      title: "",
      description: "",
      propertyId: "",
      loaded: false,
      comment: "",
      comments: [],
      isClosed: false
    };
  },
  methods: {
    getParsedDate(value) {
      return kendo.toString(kendo.parseDate(value), 'dd/MM/yyyy HH:mm');
    },
    changeStatus() {
      let data = {
        id: this.$route.query.id,
        isClosed: this.isClosed,
        title: this.title,
        description: this.description,
        buildingId: this.buildingId,
        propertyId: this.propertyId
      }
      this.$http.put("services/app/Ticket/Update", data).then(
        () => {
          this.$root.$emit("toggleNotification", {
            msg: "Status žalbe uspješno promijenjen"
          });
          this.$root.$emit('updateNotificationCount');
        },
        () => {
          this.$root.$emit("toggleNotification", {
            msg: "Došlo je do greške pri promjeni statusa"
          });
        }
      );
    },
    goBack() {
      this.$router.go(-1);
    },
    loadComments() {
      let comp = this;
      this.$http.get("services/app/TicketComment/GetComments", {params: { id: comp.$route.query.id }}).then(function(response) {
        var data = response.body.result;
        this.comments = data;
      });
    },
    addComment() {
      if (!this.comment) {
        return;
      }
      var data = {
        ticketId: 0,
        comment: this.comment,
        createdBy: this.$store.state.userInfo.id,
        createdDate: new Date().toISOString()
      };

      this.$http.post("services/app/TicketComment/Create", data).then(
        response => {
          this.comment = "";
          this.loadComments()
          this.$root.$emit("toggleNotification", {
            msg: "Komentar uspješno dodat"
          });
        },
        response => {
          this.$root.$emit("toggleNotification", {
            msg: "Došlo je do greške pri čuvanju"
          });
        }
      );
    }
  }
};
</script>
<style scoped lang="scss">
.k-form-item {
  margin: 0;
}
.icon-wrapper {
  position: relative;
  top: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #1980bb;
  display: inline-block;
  margin-right: 5px;
}
.v-card__text {
  word-break: break-all;
}
.comment {
  .creator-info {
    vertical-align: top;
    margin-left: 5px;
    display: inline-block;
    line-height: 1.8;
    .creator-name {
      font-weight: bold;
      margin-right: 5px;
    }
  }
  .comment-content {
    line-height: 2;
    padding-bottom: 5px;
  }
  padding: 12px;
  margin: 8px 0;
  &:last-child {
    margin-bottom: 0;
  }
  .date {
    font-size: 12px;
    color: #bbb;
  }
}
</style>
