<template>
  <v-menu bottom left style="float: right;" v-if="items && items.length">
    <v-btn
      title="Akcije"
      slot="activator"
      icon
      @click="toggle"
    >
      <v-icon>more_vert</v-icon>
    </v-btn>
    <v-list>
      <v-list-tile v-for="(item, i) in items" :key="i" @click="item.onClick">
        <v-list-tile-title>{{ item.text }}</v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "Actions",
  methods: {
    toggle: function(e) {
        this.templateArgs.preventChange();
    }
  },
  computed: {
      items() {
          let actions = this.templateArgs.actions;
          return actions;
      }
  },
  data() {
    return {
      templateArgs: {},
    };
  }
};
</script>