<template>
  <v-layout row justify-center>
    <v-dialog v-model="visible" max-width="300">
      <v-card>
        <v-card-text>Da li ste sigurni da želite da obrišete ovu stavku?</v-card-text>
        <v-card-actions>
          <v-btn flat color="primary" @click="confirm">Potvrdi</v-btn>
          <v-btn flat @click="visible = false">Otkaži</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  name: "DeleteWindow",
  data() {
    return {
      visible: false,
      confirm: ""
    };
  },
  methods: {},
  mounted() {
    const vm = this;
    this.$root.$on("toggleDeleteWindow", data => {
      vm.visible = !vm.visible;
      if (data && data.confirm) {
        vm.confirm = data.confirm;
      }
    });
  }
};
</script>