<template>
    <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="1200" v-if="dialog">
        <component :is="componentName" :dialogData="dialogData"></component>
    </v-dialog>
  </v-layout>
</template>

<script>
import AddEditCities from "@/components/AddEditCities.vue";
import AddEditEntrances from "@/components/AddEditEntrances.vue";
import AddEditOwners from "@/components/AddEditOwners.vue";
import AddEditPropertyTypes from "@/components/AddEditPropertyTypes.vue";
import AddEditProperties from "@/components/AddEditProperties.vue";
import AddEditAnnouncements from "@/components/AddEditAnnouncements.vue";
import AddEditReceivedPayments from "@/components/AddEditReceivedPayments.vue";
import AddEditExpenseCategories from "@/components/AddEditExpenseCategories.vue";
import AddEditExpenses from "@/components/AddEditExpenses.vue";
import AddEditScheduledExpenses from "@/components/AddEditScheduledExpenses.vue";
import AddEditTickets from "@/components/AddEditTickets.vue";
import AddEditReports from "@/components/AddEditReports.vue";
import AddEditMaintenanceFees from "@/components/AddEditMaintenanceFees.vue";
import AddEditSentPayments from "@/components/AddEditSentPayments.vue";
import AddEditScheduledMaintenanceFees from "@/components/AddEditScheduledMaintenanceFees.vue";
import AddEditExternalUsers from "@/components/AddEditExternalUsers.vue";
import AddEditPropertyOwners from "@/components/AddEditPropertyOwners.vue";
import AddEditSupply from "@/components/AddEditSupply.vue";
import AddEditInvoices from "@/components/AddEditInvoices.vue";

export default {
  name: "Dialog",
  props: ["componentName"],
  components: {
    AddEditCities,
    AddEditEntrances,
    AddEditOwners,
    AddEditPropertyTypes,
    AddEditProperties,
    AddEditAnnouncements,
    AddEditReceivedPayments,
    AddEditExpenseCategories,
    AddEditExpenses,
    AddEditScheduledExpenses,
    AddEditTickets,
    AddEditReports,
    AddEditMaintenanceFees,
    AddEditSentPayments,
    AddEditScheduledMaintenanceFees,
    AddEditExternalUsers,
    AddEditPropertyOwners,
    AddEditSupply,
    AddEditInvoices
  },
  data() {
    return {
      dialog: false,
      dialogData: {}
    };
  },
  mounted() {
    let comp = this;
    this.$root.$on("toggleDialog", function(data) {
      comp.dialog = !comp.dialog;    
      comp.dialogData = data;
    });
  }
};
</script>

<style lang="scss">
  .k-form-item {
    label {
      display: block;
    }
    .k-widget {
      width: 100%;
    }
    margin: 1.6rem 0;
    margin-top: 0.7rem;
  }
  .k-state-selected {
    color: #fff !important;
  }
  .k-editor {
    margin-top: 4px !important;
    .k-state-selected {
      color: #000 !important;
    }
  }
</style>