<template>
  <div>
    <v-layout mb-4>
      <v-flex xs9 pt-2>
        <v-btn @click="openDialog" dark color="primary" v-if="!settings.readonly">Dodaj</v-btn>
        <v-btn flat v-if="settings.export" color="primary" @click="exportData">Eksportuj</v-btn>
        <v-btn flat v-if="settings.send" color="primary" @click="settings.send">Pošalji</v-btn>
      </v-flex>
      <v-flex xs3 pr-3>
        <v-text-field
          append-icon="search"
          label="Pretraga"
          v-show="settings.searchableColumns"
          v-model="searchText"
          @input="searchGrid"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout>
      <kendo-grid
        ref="gridWidget"
        :data-source="dataSource"
        :page-size="5"
        :server-paging="true"
        :pageable="true"
        :sortable="true"
        :selectable="'row'"
        :resizable="true"
        v-on:change="change"
        :no-records="noData"
      >
        <kendo-grid-column
          v-for="(item, index) in settings.columns"
          :key="index"
          :field="item.field"
          :title="item.title"
          :width="item.width"
          :format="item.format && item.format === 'decimal' ? '{0:n}' : ''"
        ></kendo-grid-column>
        <kendo-grid-column v-if="!settings.hideActions" :width="90" id="actions-wrapper" :template="actionsTemplate"></kendo-grid-column>
      </kendo-grid>
    </v-layout>
    <Dialog :componentName="settings.dialogComponent"/>
    <DeleteWindow :windowData="deleteWindowData"/>
  </div>
</template>

<script>
import { Grid } from "@progress/kendo-grid-vue-wrapper";
import Dialog from "@/components/common/Dialog.vue";
import Vue from "vue";
import $ from "jquery";
import saveAs from "file-saver";
import Actions from "@/components/common/Actions.vue";
import DeleteWindow from "@/components/common/DeleteWindow.vue";
var actionsTemplate = Vue.component(Actions.name, Actions);

export default {
  name: "RefreshGrid",
  props: ["settings"],
  components: {
    Dialog,
    Grid,
    Actions,
    DeleteWindow
  },
  data() {
    let token = this.$store.state.token;
    var component = this;
    return {
      deleteWindowData: null,
      isChangePrevented: false,
      noData: {
        template: kendo.template(
          "<div style='text-align: center; padding: 10px;'>Nema podataka</div>"
        )
      },
      searchableColumns: this.settings.searchableColumns || [],
      searchText: "",
      currentParamMap: "",
      dataSource: {
        pageSize: 10,
        serverPaging: true,
        serverSorting: true,
        serverFiltering: true,
        error: function(e) {
          if (e.errorThrown === "Unauthorized") {
            component.$router.push("/login");
          }
        },
        transport: {
          read: {
            url: this.settings.url
              ? Vue.http.options.root + this.settings.url
              : Vue.http.options.root +
                "/services/app/" +
                this.settings.entityName +
                "/GetList",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(req) {
              req.setRequestHeader("Authorization", "Bearer " + token);
            }
          },
          parameterMap(options) {
            options.sorter = options.sort ? options.sort[0] : "";
            delete options.sort;
            if (component.settings.filterRule) {
              options.filterRule = component.settings.filterRule;
            }
            if (component.settings.sorter) {
              options.sorter = component.settings.sorter;
            }
            component.currentParamMap = options;
            return kendo.stringify(options);
          }
        },
        schema: {
          data(data) {
            if (component.settings.parse) {
              return component.settings.parse(data);
            } else {
              return data.result.items;
            }
          },
          total: function(data) {
            return data.result.totalCount;
          }
        }
      }
    };
  },
  watch: {
    "settings.entityName"(value) {
      if (!this.settings.url) {
        this.dataSource.transport.read.url =
          Vue.http.options.root + "/services/app/" + value + "/GetList";
      } else {
        this.dataSource.transport.read.url =
          Vue.http.options.root + this.settings.url;
      }
      this.searchText = "";
    }
  },
  mounted() {
    var component = this;
    this.$root.$on("edit", function() {
      let widget = component.$refs.gridWidget;
      if (widget) {
        widget.kendoWidget().dataSource.read();
      }
    });
    this.$root.$on("filterGrid", function(data) {
      if (data) {
        component.settings.filterRule = data;
      }
      let widget = component.$refs.gridWidget;
      if (widget) {
        widget.kendoWidget().dataSource.read();
      }
    });
  },
  methods: {
    preventChange() {
      this.isChangePrevented = true;
    },
    actionsTemplate: function(e) {
      let actions = [];
      let dataItem = e;
      const vm = this;
      if (this.settings.editNote) {
        actions.push({
          text: "Napomena",
          onClick(e) {
            vm.settings.editNote(dataItem);
          }
        });
      }
      if (this.settings.print) {
        actions.push({
          text: "Štampaj",
          onClick(e) {
            vm.settings.print(dataItem);
          }
        });
      }

      if (this.settings.printWarning) {
        actions.push({
          text: "Štampaj opomenu",
          onClick(e) {
            vm.settings.printWarning(dataItem);
          }
        });
      }

      if (this.settings.sendWarning) {
        actions.push({
          text: "Pošalji opomenu",
          onClick(e) {
            vm.settings.sendWarning(dataItem);
          }
        });
      }

      if (this.settings.printExec) {
        actions.push({
          text: "Štampaj izvršenje",
          onClick(e) {
            vm.settings.printExec(dataItem);
          }
        });
      }


      if (!this.settings.readonly) {
        actions.push({
          text: "Izmijeni",
          onClick() {
            vm.editItem(dataItem);
          }
        });
        actions.push({
          text: "Obriši",
          onClick() {
            vm.deleteItem(dataItem);
          }
        });
      }
      return {
        template: actionsTemplate,
        templateArgs: {
          preventChange: this.preventChange,
          dataItem: e,
          actions: actions
        }
      };
    },
    exportData() {
      var grid = this.$refs.gridWidget.kendoWidget();
      var parameterMap = this.currentParamMap;
      this.$http
        .get("services/app/" + this.settings.entityName + "/Export", {
          responseType: "blob"
        })
        .then(
          response => {
            var blob = new Blob([response.body], {
              type: "application/vnd.ms-excel;charset=utf-8"
            });

            saveAs(
              blob,
              "Fakturisanje_" +
                kendo.toString(kendo.parseDate(new Date()), "dd/MM/yyyy") +
                ".xlsx"
            );
          },
          response => {
            this.$root.$emit("toggleNotification", {
              msg: "Došlo je do greške pri eksportu"
            });
          }
        );
    },
    change(e) {
      if (!this.settings.change) return;
      if (this.isChangePrevented) {
        this.isChangePrevented = false;
        return;
      }
      this.settings.change(e);
    },
    openDialog() {
      if (!this.settings.onOpen) {
        this.$root.$emit("toggleDialog");
      } else {
        this.settings.onOpen();
      }
    },
    editItem(dataItem) {
      var grid = this.$refs.gridWidget.kendoWidget();
      var comp = this;
      if (!this.settings.onOpen) {
        this.$root.$emit("toggleDialog", dataItem);
      } else {
        this.settings.onOpen(dataItem);
      }
    },
    searchGrid() {
      var component = this;
      var currentDataSource = component.dataSource;
      var grid = this.$refs.gridWidget.kendoWidget();
      if (component.searchText.length) {
        currentDataSource.transport.parameterMap = function(options) {
          options.sorter = options.sort ? options.sort[0] : "";
          options.searchText = component.searchText;
          options.searchableColumns = component.settings.searchableColumns || [];
          delete options.sort;
          if (component.settings.filterRule) {
            options.filterRule = component.settings.filterRule;
          }
          component.currentParamMap = options;
          return kendo.stringify(options);
        };
      } else {
        currentDataSource.transport.parameterMap = function(options) {
          options.sorter = options.sort ? options.sort[0] : "";
          delete options.sort;
          if (component.settings.filterRule) {
            options.filterRule = component.settings.filterRule;
          }
          component.currentParamMap = options;
          return kendo.stringify(options);
        };
      }
      grid.setDataSource(currentDataSource);
    },
    deleteItem(dataItem) {
      var grid = this.$refs.gridWidget.kendoWidget();
      var comp = this;
      var windowData = {
        callback() {
          comp.$http
            .delete("services/app/" + comp.settings.entityName + "/Delete", {
              params: { id: dataItem.id }
            })
            .then(
              response => {
                if (response.data.success) {
                  comp.$refs.gridWidget.kendoWidget().dataSource.read();
                  comp.$root.$emit("toggleNotification", {
                    msg: "Brisanje uspješno"
                  });
                  comp.$root.$emit('toggleDeleteWindow');
                  if (
                    comp.settings.entityName &&
                    comp.settings.entityName == "Ticket"
                  ) {
                    comp.$root.$emit("updateNotificationCount");
                  }
                }
              },
              response => {
                if (response) {
                }
              }
            );
        }
      };
      this.$root.$emit('toggleDeleteWindow', {
        confirm: windowData.callback
      });
    }
  }
};
</script>

<style lang="scss">
.k-grid td{
  white-space: nowrap !important;
}
.k-selectable {
  cursor: pointer !important;
}
.k-state-selected {
  background-color: #1980bb !important;
  .k-button {
    color: #000;
  }
}
.k-command-cell {
  .k-button {
    opacity: 0;
  }
}
tr {
  &:hover {
    .k-command-cell {
      .k-button {
        opacity: 1;
      }
    }
  }
}
.k-grid-norecords {
  color: #aaa;
}
.k-grid-content {
  min-height: 48px !important;
}
</style>
