<template>
  <div class="user-picker">
    <v-flex>
      <span @click="openDialog" class="user-picker-link">Dodaj korisnika</span>
    </v-flex>
    <v-dialog v-model="dialogOpen" max-width="1200" v-if="dialogOpen">
      <v-card>
        <v-card-title class="headline">Korisnik</v-card-title>
        <v-container>
          <v-text-field v-model="jmbg" label="JBMG" required></v-text-field>
          <v-text-field
            v-model="firstName"
            label="Ime"
            required
            :error-messages="firstNameError"
            @input="$v.firstName.$touch()"
            @blur="$v.firstName.$touch()"
          ></v-text-field>
          <v-text-field v-model="lastName" label="Prezime" required></v-text-field>
          <v-text-field v-model="email" label="E-mail" required></v-text-field>
          <v-text-field v-model="dateOfBirth" label="Datum rođenja" required></v-text-field>
          <v-text-field v-model="address" label="Adresa" required></v-text-field>
          <v-text-field v-model="phoneNumber" label="Broj telefona" required></v-text-field>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Otkaži</v-btn>
          <v-btn color="blue darken-1" flat @click.native="submitForm">Sačuvaj</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  computed: {
    firstNameError() {
      const errors = [];
      if (!this.$v.firstName.$dirty) return errors;
      !this.$v.firstName.required && errors.push("Ovo polje je obavezno.");
      return errors;
    }
  },
  mixins: [validationMixin],
  validations: {
    firstName: { required }
  },
  name: "UserPicker",
  props: ["callback"],
  data() {
    return {
      dialogData: {},
      dialogOpen: false,
      id: 0,
      userId: 0,
      jmbg: "",
      firstName: "",
      lastName: "",
      email: "",
      dateOfBirth: "",
      address: "",
      phoneNumber: ""
    };
  },
  methods: {
    submitForm() {
      let component = this;
      let url = "services/app/Owner/Create";

      component.$v.$touch();
      if (component.$v.$invalid) {
        return;
      }

      this.$http.post(url, component.$data).then(
        response => {
          this.callback(response.body.result);
          this.id = 0;
          this.userId = 0;
          this.jmbg = "";
          this.firstName = "";
          this.lastName = "";
          this.email = "";
          this.dateOfBirth = "";
          this.address = "";
          this.phoneNumber = "";
          this.closeDialog();
        },
        response => {
          this.$root.$emit("toggleNotification", {
            msg: "Došlo je do greške pri čuvanju"
          });
        }
      );
    },
    closeDialog() {
        this.id = 0;
          this.userId = 0;
          this.jmbg = "";
          this.firstName = "";
          this.lastName = "";
          this.email = "";
          this.dateOfBirth = "";
          this.address = "";
          this.phoneNumber = "";
      this.dialogOpen = false;
    },
    openDialog() {
      this.dialogOpen = true;
    }
  }
};
</script>

<style lang="scss">
.user-picker {
  position: relative;
  top: -22px;
  .user-picker-link {
    display: inline-block;
    color: #1980bb;
    font-size: 13px;
    cursor: pointer;
  }
}
</style>
